<div class="container inner-section">
  <div class="row">
    <h1>Inventory Tracking</h1>
    <div class="col-md-12">
      <h3>Do not let your sales suffer due to stock-out.</h3>

      <p>One of the key challenges for the  retailers is to keep products inventory updated that customers want and need in stock. Customers also lose their interest in the seller when the desired product or most demanded product on the marketplaces by the customer is out of stock.</p>
      
    <p>Many marketplaces also inactive the product which is out of stock. Inactive products are not visible in search results, to have visibility brand need to keep updated inventory on multiple marketplaces.</p>  
      
    </div>
    
    
<div class="well well-sm well-custom">
    
    <div class="col-md-12">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li><strong>Inventory alerts</strong> - Alerts to refill the out of stock products on multiple channels  to avoid lost sales.</li>
        <li><strong>Geographical Inventory Tracking</strong> - Keep a track of inventory for the location based on mapping with stores.</li>
      </ul>
    </div>

</div>

     <!--<div class="col-md-12 mtop50"> <img src="{{site.baseurl}}/images/3_Plan-your-Promotions-smartly.png" alt="Paxcom" class="img-responsive"> </div> -->
  </div>
</div>
