<div class="container inner-section">
  <div class="row">
    <h1>Manage returns & cancellations</h1>
    
    <div class="col-md-12">
      <h3>Manage order returns and cancellations</h3>
      
      <p>One challenge with e-Commerce is that if a number of orders is huge, so is the number of returns. Many online buyers purchase products on impulse decision, and by the time they received the product at their home they have changed their minds and make use of favorable return policies. <em><strong>Studies suggest that by 2020 ECommerce in India would have 10%-15% return rate.</strong></em> Are you managing your returns efficiently on time?? </p>
      
      <p>Online returns management also involves matching your inventory and account reconciliation from marketplaces for due payments. We offer a centralized panel to manage the returned orders for all sales channels. Sellers can also raise disputes to marketplaces in the case of bad inventory return from customers.</p>
      
    </div>
    
    <div class="well well-sm well-custom">
    
    <div class="col-md-12">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li><strong>Return Alerts</strong> - Get Alerts on status and information of the return orders created for your products across marketplaces.</li>
		<li><strong>Transfer Returned product to Inventory</strong> - Synchronize inventory automatically once you transfer returned to stock to good inventory or bad inventory based on the condition of returned item.</li>
        <li><strong>Return Insights</strong> - Insights on the impact of returns, amount spent on logistics or damages due to returns, etc.</li>
        <li><strong>Filters for quick analysis</strong> - Filter your returns by channels, status of return, and status of disputes.</li>
        <li><strong>Raise Dispute status</strong> - Keep an eye on the status of raise disputes on multiple channels.</li>
        <li><strong>Dispute Insights</strong> - Insights on the amount of open dispute, received disputed amount, and loss take on dispute order wise.</li>
      </ul>
    </div>
    
    </div>
    <!--<div class="col-md-6 mtop20"><img src="{{site.baseurl}}/images/4_Manage-order-returns-and-cancellations.png" alt="Paxcom" class="img-responsive"></div>--> 
    
  </div>
</div>
