#Redirect from old domain with subdirectory to new domain w/o subdirectory including full path and query string:
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/blog/(.*)$
RewriteRule ^(.*) http://blog.paxcom.net/%1 [R=302,NC]

RewriteEngine on
# remove trailing slash
RewriteRule (.+)/$ /blog/$1 [L,R=301]
 
# add trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*[^/]$ /blog/$1/ [L,R=301]
 
# perform redirect if indiana.edu
RewriteCond %{HTTP_HOST} ^http://paxcom.net/$ [NC]
RewriteRule ^(.*)$ http://blog.paxcom.net/$1 [R=301,L]
