---
layout: default
---
<div class="clearfix"></div>

<!-- START This is a typical Twitter Bootstrap Carousel -->
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">   
  <!-- Wrapper for slides -->
  <div class="carousel-inner paxcom-home">
    <div class="item item-bootom item-0 active">    	
      <div class="container-fluid">
        <div class="carousel-caption thanks">
          <h1>

          	The page you are looking for is no longer available. {{site.url}} 
          	 <span></span>
        		<p>You can visit us at <a href="{{site.baseurl}}/">paxcom.net </a> and try exploring what you are looking for.</p>  
      		</h1>
           
            
            <!--<a href="{{site.baseurl}}/index.html" class="btn-more page-scroll">Know more</a>-->     
                  
            <!--<div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive"></div>-->          
        </div>
      </div>
    </div> 
 
    
 
  </div>
  <!-- End Wrapper for slides --> 
</div>


{% include signup-request.html %}
{% include footer.html %}