---
layout: default
title: Category
---
<div class="container blog-top-space" >
  <div class="row"> 
    <!-- main content start here -->
    <div class="col-md-8 list-style">
      <div class=" post-header unit whole single-post-excerpt cat-div">
        <h2>{{page.title}}</h2>
        <ul class="cat-list">
          {% for category in site.tags  %}
          <li>
            <h3><a name="{{ category | first }}" id="{{ category | first }}">{{ category | first }}</a></h3>
            <ul>
              {% for posts in category %}
              {% for post in posts %}
              {% if post.url %}
              <li>
                <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
              </li>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="col-md-4 "> {% include aside.html %} </div>
  </div>
</div>
