<section class="intro-section-white animation  fadeInDown">

    <div class="container about-us " >
<div class="row">

<div class="col-sm-8 sidebar">
<h1 class="no-padding">Who we are?</h1> 
<p>We are a group of technology enthusiasts, ecommerce freaks and retail experts.</p>
<h1>Why are we in business?</h1>
<p>There are tools out there that help you manage your business but rarely any to help you know your business. We understand how important it is for startups to know and manage their cashflow, to analyze and improve their performance and to be profitable. And with this said, our aim at Paxcom is to simplify eCommerce. We envisioned a tool that can help entrepreneurs perform better, to make their customers happy and to grow their business enormously. Paxcom’s aim is to be your trusted partner with power of hundreds of resources in it – Your assistant, your accountant, your manager, your data scientist, your expert consultant.</p>

<h1>What have we got for you?</h1> 
<p> We have built, and continually improving it further, a cloud based product to smartly handle all core business processes - Multi Channel selling (including market places, retail outlets or estores), Managing Cash flows, Inventory Management, Order Management, Supply chain, Marketing, Online merchandising, Logistics, etc. Paxcom is built as a flexible tool to quickly adapt to changing customer demands and market trends. Importantly, Paxcom lets you maintain a healthy customer experience and to become profitable in ecommerce. </p>
</div>
<div class="col-sm-4"><div class="sidebar"> 
      <h1 class="no-padding"> Our Aim </h1>
      <ul class="custom-list">
        <li>To simplify eCommerce</li>
        <li>Make business place a fun place</li>
        <li>Get your Sundays available for your family and your hobbies</li>
        <li>Let business managers spend more time in planning business strategies and consumer engagements rather than focusing on frequent unformulated issues.</li>

      </ul>

          <h1 class="top-space" >Location</h1>
           <address>
             
              <p>Paxcom India Pvt. Ltd. <br> Unit - 34, Hartron Complex, Electronic City, Sec-18, Gurgaon-122015 Haryana, India<br>
                <i class="fa fa-envelope-o"></i> <a href="mailto:bd@paxcom.net">bd@paxcom.net</a> 
              </p>
        
                <p class="contact-btn"><a href="contact-us.html" class="btn btn-danger">Contact Us</a></p>
         </address>


		</div></div>
</div>
    </div>

</section>

