<section id="Inventory-Distribution" class="content-section section-gray">
<div class="container inner-section">
  <div class="row">
    <h1>Auto Distribute Inventory</h1>
    
    <div class="col-md-12">
      <h3>Auto Distribute Inventory on all Channels with a Single Click!</h3>
      
      <p>Unless you have a centralized inventory management system for your multi-channel online sales, you can end up either overselling or underselling your products on at least one of your sales channels. Managing inventory act as an important asset that keeps the company alive, but managing it manually becomes a challenge, that result in halts for day-to-day operations.</p>
      
      <p>We let you sync your inventory and auto update it across all the marketplaces. You can now expect to have no more penalties on order cancellations or order delays. Our strong supply chain solutions help you to manage your inventory on multiple channels at one stop.</p>
    </div>
    
    
    <div class="well well-sm well-custom">
        <div class="col-md-12">
          <h5>What we solve for you?</h5>
          <ul class="intro-list main-content">
            <li><strong>Automatic Inventory Distribution</strong> - Avoid overselling or underselling by optimally and automatically distributing your inventory on all marketplaces.</li>
			<li><strong>Auto updates</strong> - Get automatic updates of inventory on all channels when order received from any channel.</li>
            <li><strong>Status updates</strong> - Single panel to view inventory status on all channels, no hopping to multiple portals.</li>
            <li><strong>Inventory Updates</strong> - Update your inventory on multiple channels from a single tab.</li>
            <li><strong>Price Updates</strong> - Marketplaces follow dynamic pricing. To stay ahead of your competitors, keep updating your product prices on regular basis from single panel.</li>
            <li><strong>SLA</strong> - Centralized panel to define your SLA days to dispatch or deliver the product to the end user.</li>
            <li><strong>Price Distribution</strong> - Set your MRP and selling price for your products across multiple channels.</li>
          </ul>
        </div>
    
    </div>
    
    <!--<div class="col-md-6 mtop20"><img src="{{site.baseurl}}/images/2_Auto-Distribute-Inventory-on-Multiple-Channels.png" alt="Paxcom" class="img-responsive"></div>--> 
  </div>
</div>
</section>