<section id="Inventory-Distribution" class="content-section section-gray" >
	<div class="container">
    		<div class="row">
            	<div class="col-md-6">
                	<img src="{{site.baseurl}}/images/2_Auto-Distribute-Inventory-on-Multiple-Channels.png" alt="Paxcom" class="img-responsive">                
                	
                </div>
                <div class="col-md-6">
                	<h3>Auto Distribute Inventory on Multiple Channels</h3>
                	<p>Unless you have a centralized inventory management system for your multipchannel online sales, you can end up either overselling or underselling your products on at the least one of your sales channels. We let you sync your inventory and auto update it across all the marketplaces. You can now expect to have no more penalties on order cancellations or order delays.
                    </p>
					<h5>What we solve for you?</h5>
                    <ul class="intro-list main-content">
                    	<li>Avoid overselling or underselling by optimally and automatically distributing your inventory on all marketplaces</li>
                        <li>Auto updates of inventory on all channels when order is received from any channel</li>
                        <li>Single place to view inventory status on all channels, no hopping to multiple portals</li>
                    </ul>
                	
                </div>
            </div>
    </div>
</section>