<section id="benefits" class="intro-section  scroll-section benefits-kinator" >
  <div class="container" style="max-width:1000px;">
    <div class="col-lg-12 text-center ">
      <h2 >Why Kinator</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 ">
        <div class="overview-list top-space">
          <div class="line"></div>
          <div class="icon"><i class="fa fa-file-text"></i></div>
          <h5 class="text-center text-capital"> Efficient use of Inventory</h5>
          <p > Kinator will help you manage your inventory well by diverting your orders with plenty of inventory and you have provision to customize the algorithm based on your needs </p>
        </div>
      </div> 
      <div class="col-md-3 col-sm-6">
        <div class="overview-list">
          <div class="line2"></div>
          <div class="icon"><i class="fa fa-globe"></i> </div>
          <h5 class="text-center text-capital">Split Order based on Inventory</h5>
          <p >Kinator will provide you option to fulfill the order by placing it on multiple warehouses or multiple vendors, this again results in very efficient use of inventory</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="overview-list  top-space1">
          <div class="line3"></div>
          <div class="icon"> <i class="fa fa-exclamation-triangle"></i> </div>
          <h5 class="text-center text-capital">Optimize distributors channels</h5>
          <p >Kinator will provide you options to optimizie distributors channel which usually is behind on technology by engaging them lot better in terms of orders and hence drive better sales for them as well as your business</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="overview-list ">
          <div class="icon"><i class="fa fa-usd"></i></div>
          <h5 class="text-center text-capital">Process order faster</h5>
          <p >Order processing time will also be reduced since Kinator will help you pick nearest possible vendor who can fulfill order as fast as possible, which results in satisfied customers and improves overall business process</p>
        </div>
      </div>
    </div>
  </div>
</section>
