<section id="benefits" class="intro-section  scroll-section" >
  <div class="container" >
    <div class="col-lg-12 text-center ">
      <h2 >Omni-Channel eCommerce Software</h2>
      <p>Our aim is to make technology an asset for your business not a problem.</p>
    </div>
    <div class="clearfix"></div>
    <div class="row features">
    
    <div class="col-md-4 col-sm-4 float">
      <a class="feature" href="#">
        <h5> Maximize Sales and profits  </h5>
        <span class="feature-icon"> <img src="{{ site.baseurl }}/images/feature-img1.jpg"> </span>
          <ul class="custom-list">
              <li>Get listed on Multiple Marketplaces, Manage all from one panel</li>
              <li>Centralized Inventory, Intelligently distribute stock on different channels</li>
              <li>Powerful Analytics to help you price your product right. </li>
              <li>Intelligently predict Inventory levels</li>
          </ul>     
      </a>
    </div>
    
    
    <div class="col-md-4 col-sm-4 float">
      <a class="feature" href="#">
        <h5> Easy Account Reconciliation on all channels </h5>
        <span class="feature-icon"> <img src="{{ site.baseurl }}/images/feature-img3.jpg"> </span>
        <ul class="custom-list">
          <li>Quickly See channel wise commissions, Charges, Amount due, </li>
          <li>P&amp;L reports </li>
          <li>Trail and Balance Reports </li>
          <li>Estimate Cash flow </li>
        </ul>

      </a>
    </div>
    
    
    <div class="col-md-4 col-sm-4 float">
      <a class="feature" href="#">
        <h5>Effectively Manage Returns &amp; Replacements  </h5>
        <span class="feature-icon"> <img src="{{ site.baseurl }}/images/feature-img5.jpg"> </span>
            <ul class="custom-list">
              <li>Minimize returns using Powerful Analytic's</li>
              <li>Keep track of reverse Logistics </li>
              <li>Manage  Replacements / Repairs from Vendors </li>
              <li>Efficiently Manage Refunds and Replacements</li>
            </ul>
      </a>
    </div>
      
      
      
    </div>
  </div>
  
</section>
