<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="wrap  animation  fadeInDown">
          <h1 class="h1"> Page <strong>Coming Soon </strong>  </h1>
          
          
          
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-center"> <img src="{{ site.baseurl }}/images/under-construction.png" class="img-responsive" alt="Slider Image"></div>
    </div>
  </div>
</section>