<section class="intro-section-white animation  fadeInDown scroll-section">

    <div class="container contact-us " >
<div class="row">

<div class="col-sm-8 ">
<h5 class="no-padding">We’d love to hear from you. Please use the email below to contact us. We will get back to you as quick as possible!</h5>
<!--<form role="form"  >

<div class="row ">

  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 " >
    <label >Name </label>
    <input class="input-box form-control " type="text" required="" >
  </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" >
    <label  >Phone No  </label>
     <input class="input-box form-control" type="tel" required="">
  </div>

  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" >
    <label for="">Email  </label>
    <input class="input-box form-control" type="text" id="email" required="" >
  </div>

  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" >
    <label for="">Subject </label>
    <input type="text" id="subject" class="input-box form-control" required="" >
  </div>

  <div class="form-group col-xs-12">
    <label for="">Description  </label>
    <textarea id="description" class="input-box form-control" rows="4" required ></textarea>
  </div>
 <div class="form-group col-xs-12">
  <button type="button"  class="btn btn-danger  ">Send



  </button> </div> </div>
  


</form> -->

<div class="row top-space">
<div class="col-sm-4"> <div class="mail-icon"><i class="fa fa-envelope-o"></i> </div>  <span class="email">sale@paxcom.net  </span></div>
<div class="col-sm-4"> <div class="mail-icon"><i class="fa fa-envelope-o"></i> </div>  <span class="email">sale@paxcom.net  </span></div>
<div class="col-sm-4"> <div class="mail-icon"><i class="fa fa-envelope-o"></i> </div>  <span class="email">sale@paxcom.net  </span></div>

</div>

</div>
<div class="col-sm-4"><div class="sidebar"> 
      <h5 class="no-padding"> Our Aim </h5>
      <ul class="custom-list">
        <li>To simplify eCommerce</li>
        <li>Make business place a fun place</li>
        <li>Get your Sundays available for your family and your hobbies</li>
        <li>Let business managers spend more time in planning business strategies and consumer engagements rather than focusing on frequent unformulated issues.</li>

      </ul>


            <div class="location col5pad">
              <h5 >Location</h5>
              <p>Paxcom India Pvt. Ltd. <br> Unit - 34, Hartron Complex, Electronic City, Sec-18, Gurgaon-122015 Haryana, India<br>
                <i class="fa fa-envelope-o"></i> <a href="mailto:bd@paxcom.net">bd@paxcom.net</a> 
              </p>
        
               
            </div>


		</div></div>
</div>
    </div>
 
</section>

