<div class="container inner-section">
  <div class="row">
    <h1>Data Insights </h1>
    
    <div class="col-md-12">
      <h3>Deep dive into your data to drive growth strategies</h3>
      
      <p>Data alone will not be of any value until it says something. Our services will empower you with quick access to key performance indicators of your ecommerce business. From covering basic insights on due orders, SLA breached orders to advanced decision driving analytics on lost sales because of out of stock products, top reasons for poor ratings, and pool of information which help you to improve your ecommerce business.</p>
    </div>
    
    
<div class="well well-sm well-custom">    
  <div class="col-md-12">
    <h5>What we solve for you?</h5>
    <ul class="intro-list main-content">
      <li><strong>Smart Insights</strong> - We provide you analysis in form of various charts on your critical data.</li>
      <li><strong>Performance indicators</strong> - Insights on the performance indicators by which your sales might be affected like on fulfillment of orders, sales on multiple channel and products which are out of stock.</li>
      <li><strong>Notifications for quick attention areas</strong> - Shipments due today, Fast runners that need stock refill, products with maximum returns (you might want to stop selling or dive deep to rectify the issue), etc.</li>
      <li><strong>Inventory Status alerts</strong> - Slow moving inventory which can be cleared for maintaining cash flow.</li>
      <li><strong>Top-selling products</strong> - Insights on top 5 products selling on the marketplaces.</li>
      <li><strong>Canceled products</strong> - Graph showing your most canceled products on the marketplaces.</li>
      <li><strong>Purchase vs sales</strong> - Graphical representation of purchase vs sale by cost and revenue.</li>
      <li><strong>Sales Insights</strong> - Sales insights on the multiple channels like Flipkart, Paytm, Snapdeal, and Amazon by their orders as well as by value.</li>
      <li><strong>Unsold Products</strong> - Weekly updates on the products which are not sold on marketplaces.</li>
    </ul>
  </div>
</div>    
    <!--<div class="col-md-6 mtop20"><img src="{{site.baseurl}}/images/6_Deep-dive-into-your-data-to-drive-growth-strategies.png" alt="Paxcom" class="img-responsive"></div>--> 
    
  </div>
</div>
