<section id="deepdive" class="content-section section-gray" >
	<div class="container">
    		<div class="row">
            	<div class="col-md-6">
                	<img src="{{site.baseurl}}/images/6_Deep-dive-into-your-data-to-drive-growth-strategies.png" alt="Paxcom" class="img-responsive">                
                	
                </div>
                <div class="col-md-6">
                	<h3>Deep dive into your data to drive growth strategies</h3>
                	<p>Data alone will not be of any value until it says something. Our services will empower you with quick access to key performance indicators of your ecommerce business. From covering basic insights on due orders, SLA breached orders to advanced decision driving analytics on Lost sales because of out of stock products, top reasons for poor ratings, etc.  
                    </p>
					<h5>What we solve for you?</h5>
                    <ul class="intro-list main-content">
                    	<li>Dashboards on critical data</li>
                        <li>Performance indicators on fulfilment, sales and products</li>
                        <li>Data on things that need quick action - Shipments due today, Fast runners that need stock refill, products with maximum returns (you might want to stop selling or dive deep to rectify the issue), etc</li>
                        <li>Brand wise sales reports, best sellers and worst sellers</li>
                        <li>Inventory Status alerts, Slow moving inventory which can be cleared for maintaining cash flow</li>
                        <li>And a lot more.</li>
                    </ul>
                	
                </div>
            </div>
    </div>
</section>