<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="wrap  animation  fadeInDown">
          <h1 class="h1">Sell <strong>Everywhere</strong> with ease   <span class="text-primary">(eGenie) </span> </h1>
          <div class="type-wrap pull-left">
            <div id="typed-strings">
              <p>Centralized Inventory</p>
              <p>Order Management</p>
              <p>Returns And Account Reconciliation Across All Channels</p>
              
            </div>
            <span id="typed-pim" style="white-space:pre;"> </span> 
            </div>         
         
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 text-center"> <img src="{{ site.baseurl }}/images/slider-img1.jpg" class="img-responsive" alt="Slider Image"></div>
    </div>
  </div>
</section>