<div class="container inner-section">
  <div class="row">

    <div class="col-md-12">
      <h3>Ensure Product data Compliance, Optimization and Consistency</h3>
        <p>If end customers can get answers to all their questions from reading the product content, you are likely to close a sale. And obviously if the content is nicely framed with good product images or videos, the ‘Aww’ factor works very well.</p>
        <p>To avoid confusing your customers and hence loosing a sale, your product information should be consistent across all channels and comply to your brand guidelines. Especially for products with huge competition, sales can be impacted by content.</p>
    </div>

    <div class="col-md-6">
      <h5>What we solve for you?</h5>
        <ul class="intro-list main-content">
          <li>Create A+ content (We do content writing too!) or import your content into our system, publish it in marketplace formats to ensure accuracy and consistency on all channels</li>
          <li>Get Alerts on content mismatch on any channel, easy to identify inaccurate content on any sales channel</li>
          <li>Store  all  digital  media  (images,  videos,  product  catalogs,  etc.)  in  our  master  data management  system  with  sharable  or  closed  access  to  your  distributors  and  or  sales channels.</li>
          <li>Keep track of historical changes made for your product details.</li>
        </ul>
    </div>
    <div class="col-md-6">
      <img src="{{site.baseurl}}/images/1_Ensure-Product-data-Compliance,-Optimization-and-Consistency.png" alt="Paxcom" class="img-responsive">
    </div>
  </div>
  </div>
</section>