<section id="features" class="intro-section-white  animation  fadeInDown">
  <div class="container text-center">
    <h5>80 + organizations are already using PIM </h5>
    <p>Customizable Dashboards for Deep Insights into Key Performance Indicators of yourbusiness.Monitor Price Compliance, In stock of PopularProducts, Ratings, Category Placements, Keyword performances on all PopularMarket PlacesPromotions Planning, Tracking , Sales Data AnalysisCustomizable Dashboards for Deep Insights into Key Performance Indicators of yourbusiness.Monitor Price Compliance, In stock of PopularProducts, Ratings, Category Placements, Keyword performances on all pularMarketPlacesPromotions Planning, Tracking , Sales Data AnalysisCustomizable Dashboards for Deep Insights into Key Performance Indicators of yourbusiness.Monitor Price Compliance, In stock of PopularProducts, Ratings, Category Placements, Keyword erformances on all PopularMark</p>
  </div>
</section>