<footer>
  
  {% if page.url == "/pim/"  } or page.url == "/pim/index.html" %}
  	<div class="insight-btn"> 
    	<a  href="{{ site.baseurl }}/insights" target="new">
    		<button>Click here to View Insights</button>
    	</a> 
  	</div>
  {% endif %}
  
  <div class="container ">
    <div class="row">
      <div class="col-sm-8 col-xs-12 copyright"> Copyright  	&#9400; 2016 Paxcom India Pvt Ltd </div>
      <div class="col-sm-4 col-xs-12 text-right">
        <ul class="social-icon">
          <li> <i class="fa fa-facebook"></i></li>
          <li> <i class="fa fa-linkedin"></i></li>
          <li> <i class="fa fa-youtube"></i></li>
          <li> <i class="fa fa-tumblr"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>