<div class="products-info-outer">


<div class="container products-icon">
 
	<ul class="icons-group ">
    	<li> <a href="{{ site.baseurl }}/insights"  target="_blank"> <img src="{{ site.baseurl }}/images/deep-insights-from-all-channels-icon.png" alt="Deep Insights from all Channels icon"><br>
          Deep Insights From 
All Channels </a> </li>
    	<li> <a href="{{ site.baseurl }}/kinator" target="_blank"> <img src="{{ site.baseurl }}/images/centralized-order-icon.png" alt=" Centralized Order 
Fulfilment Optimized 
Routing icon"><br>
          Centralized Order 
Fulfilment Optimized 
Routing </a> </li>
    	 <li> <a href="{{ site.baseurl }}/Egenie" target="_blank"> <img src="{{ site.baseurl }}/images/centralized-inventory-price-control-icon.png" alt="Centralized Inventory Price Control icon"><br>
          Centralized 
Inventory <br>
Price Control </a> </li>
        <li> <a href="{{ site.baseurl }}/pim" target="_blank"> <img src="{{ site.baseurl }}/images/optimized-product-information-icon.png" alt="Optimized Product Information icon"><br>
          Optimized Product Information </a> </li>
       
        
        
      </ul>
      <div class="clearfix"></div>

</div>


<div class="bg "> 
  <!-- <div class="mountain "> </div>
    <div class="mountain-three"> </div>-->
  <div class="container-fluid  product-text-info ">
   	<div class="top-text">Ensure Same Great Customer Research and Purchase Experience On All Channels:</div>
    <div class="container">
      
      <div class="clearfix"></div>
      <div class="webstore"><strong>Webstore</strong>: Magento , OpenCart, Paxcom<br>
        <strong>Market Place</strong> : Amazon, Flipkart, SnapDeal, PayTm, <strong>Physical Stores POS</strong>: Tally, Busy, Marg </div>
      <div class="clearfix"></div>
    </div>
    
  </div>
 
</div>
</div>
