<footer>
  <div class="container ">
    <div class="row">
    	<div class="footer-add-link">
        	<div class="footer-add col-md-3 col-sm-3 col-xs-12">
        		<div class="footer-heading"><i class="fa  fa-map-marker"></i> Gurgaon office</div>
                <p>Paxcom India Pvt. Ltd. <br>
                    Unit - 34, Hartron Complex, <br>
                    Electronic City, Sector-18,<br>
                    Gurgaon-122015 Haryana, India
                </p>
                <!--<a href="#" class="btn-location">Locate us on Google map</a>-->
             </div>
             <div class="footer-add col-md-3 col-sm-3 col-xs-12">
        		<div class="footer-heading"><i class="fa  fa-map-marker"></i>  Mohali office</div>
                <p>Paxcom India Pvt. Ltd. <br>
                	E-96, Industrial Area, Phase 8<br>
                	Mohali - 160071<br>
                	Punjab, India<br>
                   
                </p>
               <!-- <a href="#" class="btn-location">Locate us on Google map</a>-->
             </div>
             <div class="footer-add col-md-3 col-sm-3 col-xs-12">
        		<div class="footer-heading"><i class="fa fa-phone-square"></i>  QUICK links</div>
                	<ul class="footer-links quick-links">
                    	<li><a href="{{site.baseurl}}/index.html" {% if page.url == '/' or page.url == '/index.html' %} class='active' {% endif %}>Home</a></li>
                        <li><a href="{{site.baseurl}}/about-us.html" {% if page.url == '/about-us.html' %} class='active' {% endif %}  >About Us </a></li>
                        <li><a href="{{site.baseurl}}/index.html#soultions" class="page-scroll" >Our Solutions</a></li>
                        <!--<li><a href="#">Meet the team</a></li>-->
                        <li><a href="{{site.baseurl}}/contact-us.html" {% if page.url == '/contact-us.html'  %} class='active' {% endif %}>Contact Us</a></li>
                    </ul>
                    <!--<ul class="footer-links quick-links">
                    	<li class="hidden-sm"><a href="#">&nbsp;</a></li>
                        <li class="hidden-sm"><a href="#">&nbsp;</a></li>
                    	<li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        
                    </ul>-->
             </div>
             <div class="footer-add col-md-2 col-sm-3 col-xs-12">
        		<div class="footer-heading"><i class="fa fa-phone-square"></i>  QUICK CONTACT</div>
                <ul class="footer-links">
                	<li><a href="#" class="request-demo"><i class="fa fa-user"></i> Request a demo</a></li>
                    <li><a href="mailto:info@paxcom.net"><i class="fa fa-envelope "></i> info@paxcom.net</a></li>
               </ul>
             </div>
            <!-- <div class="footer-add col-md-3 col-sm-3 col-xs-12 newsletterForm">
        		<div class="footer-heading">Newsletter</div>
                <form>
                	<input type="text" class="form-control" placeholder="Name">
                    <input type="email" class="form-control" placeholder="Email">
                    <a class="btn-send" href="#">Sign Up</a>
                </form>
                
             </div>-->
        
        </div>
        <div class="clearfix"></div>
        <div class="footer-social-link">
        	<ul>
              <li> <a href="https://facebook.com/paxcomindia/" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
              <!--<li> <a href="#"> <i class="fa  fa-twitter"></i> </a></li>
              <li> <a href="#"><i class="fa fa-google-plus"></i></a>  </li>-->
              <li> <a href="https://www.linkedin.com/company/paxcom-india" target="_blank"> <i class="fa fa-linkedin"></i></a>  </li>
            </ul>
        	
        </div>
    
    
      
     
    </div>

   </div>
   
   <div class="copyright"> &copy; 2016 All Rights Reserved with Paxcom India Pvt. Ltd. </div>
   
</footer>