<div class="container top-space" >
  <h2 class="text-center">Powering <span>innovation</span> at</h2>
  <ul class="client-logo">
    <li> <img src="{{ site.baseurl }}/img/client-logo.png" alt="#"/></li>
    <li> <img src="{{ site.baseurl }}/img/client-logo.png" alt="#"/></li>
    <li> <img src="{{ site.baseurl }}/img/client-logo.png" alt="#"/></li>
    <li> <img src="{{ site.baseurl }}/img/client-logo.png" alt="#"/></li>
  </ul>
</div>


<footer>
        <div class="insight-btn">
      <!--  {% if page.url == "/index.html"} %}
        	<a href="{{ site.baseurl }}insights" target="new"> <img src="{{ site.baseurl }}/img/insight-btn.png" alt="insight-btn"/> </a> 
        {% endif %}-->
        
        {{ site.baseurl }} {{ page.url }}
        
        
        
        
        
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-xs-12 copyright">Copyright  	&#9400; 2016 Paxcom India Pvt Ltd </div>
            <div class="col-sm-4 col-xs-12 text-right">
              <ul class="social-icon">
                <li> <i class="fa fa-facebook"></i></li>
                <li> <i class="fa fa-linkedin"></i></li>
                <li> <i class="fa fa-youtube"></i></li>
                <li> <i class="fa fa-tumblr"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
