<div class="footer-outter">


<div class="container footer-paxcom">
 
	<ul class="footer-nav ">
    	<li> <a href="{{ site.baseurl }}/insights"  target="_blank"> <img src="{{ site.baseurl }}/images/icon4.png" alt="links"><br>
          Deep insights from 
all channels </a> </li>
    	<li> <a href="{{ site.baseurl }}/Egenie" target="_blank"> <img src="{{ site.baseurl }}/images/icon3.png" alt="links"><br>
          Centeralized order 
fullfillment optimized 
routing </a> </li>
    	 <li> <a href="{{ site.baseurl }}/kinator" target="_blank"> <img src="{{ site.baseurl }}/images/icon2.png" alt="links"><br>
          Centeralized 
Inventory Price control </a> </li>
        <li> <a href="{{ site.baseurl }}/pim" target="_blank"> <img src="{{ site.baseurl }}/images/icon1.png" alt="links"><br>
          Optimized Product Information </a> </li>
       
        
        
      </ul>
      <div class="clearfix"></div>

</div>


<div class="bg"> 
  <!-- <div class="mountain "> </div>
    <div class="mountain-three"> </div>-->
  <div class="container-fluid  footer-info">
   	<div class="top-text">Ensure Same Great Customer Research and Purchase Experience On All Channels:</div>
    <div class="container">
      
      <div class="clearfix"></div>
      <div class="footer-webstore"><strong>Webstore</strong>: Magento , OpenCart, Paxcom.<br>
        <strong>Market Place</strong> : Amazon, Flipkart, SnapDeal, PayTm, <strong>Physical Stores POS</strong>: Tally, Busy, Marg </div>
      <div class="clearfix"></div>
    </div>
    
  </div>
 
</div>
</div>