<div class="container inner-section">
    <div class="row">
    <h1>Centralized Orders view </h1>
        
        <div class="col-md-12">
            <h3>Get a centralized Orders view for all marketplaces</h3>
            
            <p>Managing orders for multiple channels is a challenging exercise. Several times, a day seller has to login seller panel for different accounts to collect the order from multiple marketplaces. Logistics management for many orders is another major issue for sellers who are on multiple channels. Too many orders also create problems and failing to manage orders might damage sellers or brand reputation.</p>
            
            <p>Paxcom integrates with high traffic online marketplaces Flipkart, Amazon, Paytm, and Snapdeal.  All your orders from marketplaces are fetched to a single panel, so no need to spend time and labor cost on reviewing seller panel every time.</p>
        </div>
        
        
    <div class="well well-sm well-custom">
      
        <div class="col-md-12">
            <h5>What we solve for you?</h5>
            <ul class="intro-list main-content">
                <li><strong>Centralized panel for Order management</strong> - Manage and view the details of  your orders from multiple marketplaces in the centralized panel.</li>
				<li><strong>Order Status</strong> - Monitor the status of the orders which are delivered or still in progress.</li>
                <li><strong>Track your orders</strong> - Keep a track on the new orders, Packed Orders, Shipped Orders,Due Today, Ready for pickup.</li>
                <li><strong>Alerts on Canceled and Returned Orders </strong> - Get alerts on your Canceled Orders, Return in Progress, Return Completed, and orders that have breached SLA.</li>
                <li><strong>Product wise orders</strong> - Easily manage your orders by product wise alerts.</li>
                <li><strong>Export order sheet</strong> - Export your daily orders sheet to your personal system to avoid any confusions about dates.</li>
                <li><strong>Filter your orders</strong> - eGenie allows you to filter your orders by channels and status of the order.</li>
            </ul>
        </div>
        
        
        </div>
        
        <!--<div class="col-md-6 mtop20"> <img src="{{site.baseurl}}/images/3_Get-a-centralized-Orders-view-for-all-marketplaces.png" alt="Paxcom" class="img-responsive"></div>-->
    </div>
</div>
