<section id="Multichannel-Orders" class="content-section" >
	<div class="container">
    		<div class="row">
            	<div class="col-md-6">
                	<h3>Get a centralized Orders view for all marketplaces</h3>
                    <p><strong>Centralized panel to manage the orders at one place for all sales channels.</strong></p>
                    <p>Paxcom integrates with major online marketplaces Flipkart, Amazon, Paytm and Snapdeal.
All your orders are fetched to single panel, no need to spend time and labor cost on reviewing seller panel for each.</p>
					<h5>What we solve for you?</h5>
                    <ul class="intro-list main-content">
                    	<li>Monitor status of orders for your products from popular marketplaces.</li>
                        <li>Notifications to quickly process the orders based on their status.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                	<img src="{{site.baseurl}}/images/3_Get-a-centralized-Orders-view-for-all-marketplaces.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>