<!--<header class="container-fluid" id="header">-->
<header class="container-fluid {% if page.url == '/' or page.url == '/index.html' %} navbar-fixed-top bg-white {% endif %} "  id="header" 
style=" margin: 0px; padding: 20px 40px;">
	<div class="logo logo-paxcom">
        	<a href="{{site.baseurl}}/"><img src="{{ site.baseurl }}/images/paxcom-logo.png" class="img-responsive" alt="paxcom"></a>
    </div>
    
  
  <!-- /navbar -->
 
  <nav class="navbar  navbar-static-top paxcom-nav-2" role="navigation">
  	<div class="container-fluid">
  
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <!--<a class="navbar-brand" href="#">Brand</a>-->
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li {% if page.url == '/' or page.url == '/index.html' %} class='active' {% endif %}><a href="{{site.baseurl}}/"   >Home </a></li>        
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Our Solutions <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	 <li class="dropdown dropdown-submenu" {% if page.url == '/merchandising-solutions.html'  %} class='active' {% endif %}>
                 	<a href="{{site.baseurl}}/merchandising-solutions.html" >Merchandising Solutions</a>
                    
                    <ul class="dropdown-menu arrownone">
                      
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/Product-data-management.html" {% if page.url == '/ensureproduct.html'  %} class='active' {% endif %}> Product Content </a></li>
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/brand-visibilty.html" {% if page.url == '/increasebrand.html'  %} class='active' {% endif %}> Search Optimization </a></li>
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/promotions-planning.html" {% if page.url == '/promotionssmartly.html'  %} class='active' {% endif %}> Promotions </a></li>
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/reviews-analysis.html" {% if page.url == '/listenwhat.html'  %} class='active' {% endif %}> Product Reviews Analysis </a></li>
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/monitor-price.html" {% if page.url == '/price-monitoring.html'  %} class='active' {% endif %}> Price Intelligence </a></li>
                    <li><a href="{{site.baseurl}}/Merchandising-Solutions/inventory-tracking.html" {% if page.url == '/inventory-tracking.html'  %} class='active' {% endif %}> Inventory Tracking </a></li>

                                                                      
	                </ul>
                 
                 </li>
                 
                 
                 <li class="dropdown dropdown-submenu"  {% if page.url == '/supply-chain.html'  %} class='active' {% endif %}>
                 	<a href="{{site.baseurl}}/supply-chain.html">Supply Chain Solutions</a>
                    
                    <ul class="dropdown-menu arrownone">
                      
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Products-Listing.html" {% if page.url == '/Products-Listing.html'  %} class='active' {% endif %}> Product Listing </a></li>
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Inventory-Distribution.html" {% if page.url == '/Inventory-Distribution.html'  %} class='active' {% endif %}> Inventory Control </a></li>
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Multichannel-orders-management.html" {% if page.url == '/Multichannel-orders-management.html'  %} class='active' {% endif %}> Multichannel Orders </a></li>
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Return-orders-management.html" {% if page.url == '/Return-orders-management.html'  %} class='active' {% endif %}> Order Returns </a></li>  
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Accounts-Reconciliation.html" {% if page.url == '/reconcileaccounts.html'  %} class='active' {% endif %}> Account Reconciliation</a></li>
                    <li><a href="{{site.baseurl}}/Supply-chain-solutions/Smart-Analytics.html" {% if page.url == '/Smart-Analytics.html'  %} class='active' {% endif %}> Data Insights </a></li>

                    </ul>
                 
                 </li>
              </ul>
            </li> 
                
                
                	
            <li {% if page.url == '/about-us.html'  %} class='active' {% endif %}><a href="{{site.baseurl}}/about-us.html" >About Us</a></li>
             
             
                
                
                
                   
                   <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Resources<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://blog.paxcom.net/"  target="_blank">Blog</a></li>
            	  <li><a href="http://support.paxcom.net/"  target="_blank">Support</a></li>
              </ul>
            </li> 
            <li><a href="{{site.baseurl}}/contact-us.html" {% if page.url == '/contact-us.html'  %} class='active' {% endif %}>Contact us</a></li>   
                    
                </ul>
            </div><!-- /.navbar-collapse -->
            </div>
        </nav>


    
    
    
    
    <div class="clearfix"></div>

</header>


