<header>
  <div class="logo logo-paxcom"> <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/images/paxcom-logo.png" alt="Paxcom" class="img-responsive"/></a></div>
  <!--<nav class="top-nav-bar paxcom">
    <ul>
     
      <li> <a href="#">products </a> </li>
      <li> <a href="#">Team </a></li>
      <li> <a href="#">About us </a></li>
      <li> <a href="#"> Career </a></li>
      <li> <a href="#">Blog </a></li>
      <li> <a href="#">Contact Us </a></li>
      <li class="request-demo"> <a href="#"> Request a Demo </a></li>
      
      
      
    </ul>
  </nav>--> 
</header>
