<section class="mirchimart-section" >
<div class="container">

<h2 class="text-center">Mirchimart History</h2>
<p  class="text-center" >

MirchiMart - Amazing Gadgets, Excellent Services, Great Deals 

At Mirchi Mart, you will find Super Deals from top brands on Laptops, Desktops, Mobiles, Tablets, Printers along with related, hard to find, Super Accessories. </p>
<div class="row">

<div class="col-sm-6"><img src="../images/mirchimart-large.png" class="img-responsive" alt="mirchimart logo"/></div>
<div class="col-sm-6"><ul class="services-list">
        <li>To simplify eCommerce</li>
        <li>Make business place a fun place</li>
        <li>Get your Sundays available for your family and your hobbies</li>
        <li>Let business managers spend more time in planning business strategies and consumer engagements rather than focusing on frequent unformulated issues.</li>

      </ul></div>
 </div>


</div>

</section>
