<section class="bg-gray scroll-section">
<div class="container">

<h2 class="text-center">Heading text will here</h2>
<p  class="text-center" >Customizable Dashboards for Deep Insights into Key Performance Indicators of yourbusiness.Monitor Price </p>
<div class="row text-center top-space">
<div class="img-desktop"><img src="../images/product-info-img.png"  alt="Product-info" > </div>
<div class="img-mobile"><img src="../images/product-info-mobile-img.png" alt="Product-info mobile" /></div>
 </div>

</div>

</section>
