<section id="integrations" class="intro-section-bg  scroll-section kinator-integrations " style="height:668px">
  <div class="container animation  fadeInDown">
    <h2  class="text-center">Integrations Method</h2>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="integrations-section">
          <h5 class="text-center "><span class="text-primary">Complete Omni Channel Solution</span> </h5>
          <p > Our complete Omni channel solution will help you from a to z of your commerce, it will start right from digitizing your product in PIM cloud, coming up with your eStore and terminals for different merchants. </p>
          <p ><span class="text-orange"><strong>Kinator</strong></span> will be integrated with your store to fetch orders and then check business rules like inventory status, location, ratings etc and pass on the order to appropriate channel for fulfilment. </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="integrations-section">
          <h5 class="text-center"><span class="text-primary">REST API</span></h5>
          <p > You can opt for algorithm only too, to make it work, you need to give us API of your orders and inventory and<span class="text-orange"> <strong>Kinator</strong></span> will provide the output based on customizable parameters in REST based API to be consumed within your channel </p>
        </div>
      </div>
     
    </div>
  </div>
</section>
