<section id="integrations" class="intro-section-bg     scroll-section " style="height:668px">
  <div class="container animation  fadeInDown">
  <h2  class="text-center">How to Use</h2>
  
  
    <div class="row ">
    
     <div class="col-md-6">
      	<div class="integrations-section">
        <h5 class="text-center "><span class="text-primary"> SAAS Based Tool</span> </h5>
        <p > Get access of <strong class="text-orange">SAAS</strong> based tool for managing the all activities yourself. You will find it easy to use tool as we have made it very user friendly and we will provide you support for any issues in tool you may face or any help you may required in understanding the tool </p>
        
       </div>
      </div>
      
      
      <div class="col-md-6">
      <div class="integrations-section">
        <h5 class="text-center"><span class="text-primary">Experts Team</span></h5>
        <p > You can also let our <strong class="text-orange">experts handle</strong> your business by giving access of your marketplace accounts, our team will do all the activities on behalf of you. They will keep you updated about how your business id moving by sharing report and any other insights which is relevant to your business</p>
        </div>
      </div>
      
    
 

      
    </div>
  </div>
</section>
