<!-- Navigation -->
<nav class="navbar navbar-default inner-nav"  id="navigation-bar">
  <div class="container">
    <div class="navbar-header ">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
    	</button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav" id="myTab">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <!--<li class="hidden"> <a class="page-scroll" href="#page-top">top</a> </li>-->        
        {% if page.url == "/merchandising-solutions.html" %}
        	<li class="active"> <a href="#ensureproduct"  class="page-scroll">Product Data Compliance</a> </li>
        	<li class=""> <a href="#increasebrand"  class="page-scroll">Brand Visibility</a> </li>
            <li class=""> <a href="#promotionssmartly"  class="page-scroll">Promotions Planning</a> </li>
            <li class=""> <a href="#listenwhat"  class="page-scroll">Data Insights</a> </li>
        
        {% else %}
            <li class="active"> <a href="#listproducts"  class="page-scroll">Products Listing</a> </li>
            <li> <a  href="#autodistribute" class="page-scroll">Auto Distribute Inventory</a> </li>
            <li> <a  href="#getcentralized" class="page-scroll">Centralized Orders view </a> </li>
            <li> <a  href="#manageorder" class="page-scroll">Manage returns & cancellations</a> </li>
            <li> <a  href="#reconcileaccounts" class="page-scroll">Reconcile accounts    </a> </li>
            <li> <a  href="#deepdive" class="page-scroll">Data Insights </a> </li>
        {% endif %}
                
        
        
        						 
        
         <!--<li> <a id="nav4" class="page-scroll" href="#relatedProducts">Related Products</a> </li>
         <li class="hidden"> <a id="nav5" class="page-scroll" href="#clients"></a> </li>-->
      </ul>
     
      
      
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container --> 
</nav> 

