<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="wrap">
          <h1 class="h1"> Insights: <strong>Monitor</strong> Key Performance Indicators</h1>
          <div class="type-wrap">
            <div id="typed-strings">
              <p>Get Product Reviews Sentiment</p>
              <p>Track yours and competition promotions</p>
              <p>Get alerts on out of stock products</p>
              <p>Track product prices from marketplace</p>
            </div>
            <span id="typed" style="white-space:pre;"> </span> </div>
          <div class="product-demo">Have Product <span class="text-primary" >SKU’s ? </span> Check <a href="#"> <span class="text-primary" > Live Demo <i class="fa fa-arrow-circle-o-right"></i></span> </a></div>
        </div>
      </div>
      <div class="col-md-4"> <img src="{{site.baseurl}}/images/men-mind.jpg" alt="Slider Image"></div>
    </div>
  </div>
</section>