<div class="selection" id="selection0">
      <div class="top-main-part insights-bg">
        <div class="content container">
        	<h1 class="text-center">Insights: <span>Monitor Key</span> Performance <span>Indicators</span></h1>
          <div class="row product-information">
            <div class=" col-md-5 col-sm-12">
              <ul class="text-list">
                <li> <span> Get Product Reviews Sentiment </span> </li>
                <li> <span>Track yours and competition promotions </span> </li>
                <li> <span>Get alerts on out of stock products </span></li>
                <li> <span>Track product prices from marketplace </span></li>
              </ul>
            </div>
            <div class=" col-md-7 col-sm-12 ">
              <div class="filter-bar row">
                <div class=" form-group heading">Do you have SKU’s  of your product ? <span class="org">Enter below to get realtime price.</span>
                 </div>
                <div class="row">
                  <div class="col-sm-5    form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="SKU" aria-describedby="basic-addon2" type="text">
                      <span class="input-group-addon" > <i class="fa fa-question " data-toggle="tooltip" title="" data-original-title="Enter product  SKU id" data-placement="top"></i></span></div>
                  </div>
                  <div class="col-sm-5 form-group">
                    <select class="form-control" type="text" >
                      <option>ss</option>
                      <option>ss</option>
                      <option>ss</option>
                    </select>
                  </div>
                  <div class="col-sm-2  form-group ">
                    <button class="btn btn-warning form-control btn-submit btn-lg" data-toggle="modal" data-target="#myModal"> GET</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>