<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="wrap  animation  fadeInDown">
          <h1 class="h1"> Insights: <strong>Monitor</strong> Key Performance Indicators</h1>
          <div class="type-wrap">
            <div id="typed-strings">
             
              <p>Advanced tools for deriving key performance indicators</p>
            </div>
            <span id="typed-insights" style="white-space:pre;"> </span> </div>
          <div class="product-demo">Have Product <span class="text-primary" >SKU’s ? </span> Check <a id="skuButton" href="#" data-toggle="modal" data-target="#productInfoModel" > <span class="text-primary" > Live Demo <i class="fa fa-arrow-circle-o-right"></i></span> </a></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12  text-center"> <img src="{{site.baseurl}}/images/men-mind.jpg"  class="img-responsive"  alt="Slider Image"></div>
    </div>
  </div>
</section>