<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="wrap  animation  fadeInDown">
          <h1 class="h1">Order Routing <strong>Algorithm </strong> <span class="text-primary">(KINATOR) </span> </h1>
          <div class="type-wrap pull-left">
            <div id="typed-strings">
              <p>Optimized order Routing</p>
              <p>Fullfill Orders from Retail Outlets</p>
              <p>Multiple Warehouses in Optimized and Efficient Ways</p>
            </div>
            <span id="typed-pim" style="white-space:pre;"> </span> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 text-center mtop40Mobile"> <img src="{{ site.baseurl }}/images/slider-img1.jpg" class="img-responsive" alt="Slider Image"></div>
    </div>
  </div>
</section>
