<section id="listenwhat" class="content-section section-gray" >
	<div class="container">
    		<div class="row">
            	<div class="col-md-12">
            <h3>Listen to what public data is saying</h3>
            <p>This might be the most interesting feature for Digital Commerce!
              A lot of public data, for your products and for your competition, is available on the internet.
              We help you make a sense of all of this data. </p>
          </div>
          
          <div class="">
            
            <div class="col-md-6">
              <h5>What we solve for you?</h5>
              <strong>Reviews Tracking</strong>
              <ul class="intro-list main-content">
                <li>Analyze what is making customers happy or unhappy</li>
                <li>Identify inconsistent reviews on different channels</li>
                <li>Segregate product and order fulfilment reviews to raise dispute if required</li>
                <li>Track competition reviews to find what customers want</li>
                <li>Let individual brand managers see reviews for their own products</li>
                <li>Vendors can track reviews of sellers selling their products</li>
                <li>Identify top reasons for poor rating ­ Is it the packing, incorrect product information or the delivery time?</li>
              </ul>
            </div>
            
            <div class="col-md-6">
                	<img src="{{site.baseurl}}/images/4_Listen-to-what-public-data-is-saying.png" alt="Paxcom" class="img-responsive">                
                	
                </div>
                
                <div class="clearfix"></div>
          </div>
          
           <div class="mtop20">
            <div class="col-md-4"> <strong>Price and Stock Tracking</strong>
              <ul class="intro-list main-content">
                <li>Maintain price hygiene by enforcing MAP (Minimum Advertised Price) policy</li>
                <li>Identify which seller is selling a particular product at what price, what is the buy 
                  
                  box price or minimum buying price.</li>
                <li>Alerts to refill out of stock product, avoid lost sales</li>
              </ul>
            </div>
            <div class="col-md-4"> <strong>Visibility Tracking</strong>
              <ul class="intro-list main-content">
                <li>How do you or your competition rank for keywords relevant to your products?</li>
                <li>Track any errors in planned promotions, track promotions run by competition</li>
                <li>Track promo spends</li>
              </ul>
            </div>
            <div class="col-md-4"> <strong>Compliance Tracking</strong>
              <ul class="intro-list main-content">
                <li>Track any product inconsistencies on all channels to get the product data
                  
                  corrected</li>
                <li>Identify products with any missing information, eg identify products with missing 
                  
                  image!</li>
              </ul>
            </div>
          
          	<div class="clearfix"></div>
          </div>
            
            
            
            
            </div>
    </div>
</section>