<div class="container inner-section">
  <div class="row">
    <h1> Data Insights </h1>
    <div class="col-md-12">
      <h3>Listen to what public data is saying </h3>
      <p>This might be the most interesting feature for Digital Commerce! A lot of public data, for your products and for your competition, is available on the internet. We help you make a sense of all of this data. </p> 
      <p>Most of the time, shoppers don’t know what to buy, from where to buy and on which marketplace they will buy. But online customer reviews directly influence the buying decision of the customers.</p>
      <p>Product Insights from consumer  online reviews help brands to improve and innovate existing products and market them more effectively with the quotes from delighted consumers. Online reviews management has different meaning  to different brands, but it all starts with measuring it.</p>
    </div>
    <div class="col-md-6">
      <h5>What we solve for you?</h5>
      <strong>Reviews Tracking</strong>
      <ul class="intro-list main-content">
        <li> <strong>Customer satisfaction</strong> :- Analyze what is making customers happy or unhappy Keep a track of online reviews for positive as well as negative reviews. </li>
        <li> <strong>Reviews management on channels</strong> :-Identify and resolve inconsistent reviews &nbsp;on multiple sales channels. </li>
        <li> <strong>Dispute Management</strong> :- Segregate the product and order fulfilment reviews to raise dispute if required </li>
        <li> <strong>Competition Tracking</strong> :- Track competition reviews to find what customers needs while purchasing a product. </li>
      </ul>
    </div>
    <div class="col-md-6 mtop80">
      <ul class="intro-list main-content">
        <li> <strong>Product Image</strong> :- Let individual brand managers see reviews for their own products which helps in knowing what customers feels about their products. </li>
        <li> <strong>Sellers Reviews</strong> :-Vendors can keep a track on the reviews of sellers selling their products. </li>
        <li> <strong>Reasons behind online sales</strong> :- Identify top reasons for poor rating as well as good rating for example ­ Is it the packing, incorrect product information or the delivery time which makes product bad image or Is it the quality, taste or service which makes product good image.</li>
      </ul>
    </div>    
    <!--<div class="col-md-6 mtop50"> <img src="{{site.baseurl}}/images/4_Listen-to-what-public-data-is-saying.png" alt="Paxcom" class="img-responsive"> </div>-->
  </div>
</div>
