<div class="container inner-section">
  <div class="row">
    <h1>Products Listing</h1>
    
    <div class="col-md-12">
      <h3>List products on multiple Marketplaces</h3>
      
      <p>Isn’t the listing process time-consuming task for sellers? Moreover sellers having hundreds of SKU and listing them on multiple channels will be difficult task.Another big issue that sellers faced is managing that products on multiple channels.</p>
      
      <p>What if we say you can do it from one place for all channels? We have channel integration with popular online channels like  Snapdeal, Paytm, Amazon, and Flipkart. We mapped listed products on single panel to view orders, returns and accounts</p>

    </div>    
    
    <div class="col-md-6">      
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li><strong>Auto Listing</strong> :- An Automatic listing of your products on multiple channels from one place.</li>
        <li><strong>Mapping Products at one place</strong> :-Map your already listed products at one place to assist you with single panel view on Orders, Returns, and Accounts.</li>
        <li><strong>Import marketplaces products</strong> :- Easily import your already listed products across marketplaces at single panel.</li>
        <li><strong>Import Products</strong> :- Import your products painlessly and effortlessly via excel sheet in a single click </li>
      </ul>
    </div>

    <div class="col-md-6 mtop50">      
      <ul class="intro-list main-content">
        <li><strong>Filter</strong> :- Filter your mapped and listed products channelwise and according to their status of listing and mapping.</li>
        <li><strong>Centralised panel for adding new products</strong> :- Add your new products across marketplace from centralised panel</li>
        <li><strong>Update your SLA(days)</strong> :- Update SLA days for your products across multiple channels.</li>
      </ul>
    </div>
    
    <!--<div class="col-md-6"> <img src="{{site.baseurl}}/images/1_List-products-on-multiple-Marketplaces.png" alt="Paxcom" class="img-responsive"> </div>-->
  </div>
</div>
