<div class="container inner-section">
    <div class="row">
    <h1>Manage returns & cancellations</h1>
    
        <div class="col-md-12">
            <h3>Manage order returns and cancellations</h3>
            <p>One challenge with eCommerce is that if number of orders is huge, so is the number of returns. Online returns management also involves matching your inventory and account reconciliation from marketplaces for due payments.We offer a centralized panel to manage the returned orders for all sales channels.Studies suggest that by 2020 E-Commerce in India would have 10%-15% return rate. Are you managing your return efficiently on time??</p>               
        </div>
        
        <div class="col-md-6">
            <h5>What we solve for you?</h5>
            <ul class="intro-list main-content">
                <li>View status and information of the return orders created for your products across marketplaces.</li>
                <li>Track status of disputes </li>
                <li>Synchronize inventory automatically once you transfer returned stock to good inventory or bad inventory based on the condition of returned item.</li>
                <li>Insights like impact of returns on business, amount spent on logistics or damages due to returns, etc.</li>
            </ul>
        </div>        
        <div class="col-md-6 mtop20">
            <img src="{{site.baseurl}}/images/4_Manage-order-returns-and-cancellations.png" alt="Paxcom" class="img-responsive">               
        </div>
                
                
    </div>
</div>
