<section id="Product-Reviews-Analysis" class="merchansupplyheading section-gray" >
	<div class="container">
    		<div class="row">

				<div class="col-md-5">
                	<img src="{{site.baseurl}}/images/4_Listen-to-what-public-data-is-saying.png" alt="Paxcom" class="img-responsive">                
                </div>            
            
                <div class="col-md-7">
                    <h3>Product Reviews Analysis</h3>
                    <p>Get actionable insights from your Product Reviews. A lot of public data, for your products and for your competition, is available on the internet. We help you make a sense of all of this data.</p>
               
    				<!-- <h5>What we solve for you?</h5>-->
                    <ul class="listintro">
                      <li>Monitor and View your Reviews</li>
                      <li>Sentiment Analysis</li>
                      <li>Handle your Negative Reviews</li>
                      <li>Root Cause Analysis </li>
                    </ul>

                    <div class="row col-md-12 mtop20">
                      <a type="button" class="btn btn-warning btn-lg btn-more-new">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
               
               </div>
            </div>
    </div>
</section>