<div class="our_clintes_div">
	<div class="container">
    	<div class="row">
        	<h3 class="text-center"> Our Clients </h3>
            <p class="text-center">What we have done is not important but where it directs our clients is something that matters. Identify these brands we have worked for and you'll come to know what actually 
necessitates to be a born leader.</p>
            
                        
            <div class="our_clinte_img"> <img src="{{site.baseurl}}/images/our_clients_logo.png" alt="Paxcom" class="img-responsive customimgresponsive" /></div>

	</div>
    </div>

</div>