<div class="ourlocation">
	<h2>Our Location</h2>
    <p>
    	Paxcom India Pvt. Ltd. <br>
        Unit - 34, Hartron Complex, Electronic City, Sector-18, <br>
        Gurgaon-122015 Haryana, India
    </p>
    <a href="mailto:bd@paxcom.net" class="mail"><img src="{{site.baseurl}}/images/mail-icon.png"> bd@paxcom.net</a>
    
    {% if page.url != '/contact-us.html'   %}    
		<a class="btn btn-submit pull-right btn-contact" href="{{site.baseurl}}/contact-us.html">Contact Us</a>
    {% endif %}
        
    <div class="clearfix"></div>
</div>