<section id="ourteam" class="intro-section-white animation fadeInDown">

  <div class="container  our-team">

	<!-- ==== Management team start==== -->


    <div class="row ">
      
      <div class="col-lg-4 col-sm-4 ">      
       <div class="team-list-outer ">
        
          <div class="team-list">
          <img src="{{ site.baseurl }}/images/punit-sir.png" alt="Punit Sir" class="img-responsive"> 
          </div>
          <div class="name">Punit Sindhwani </div>
          <div class="designation">Founder &amp; CEO, Paxcom </div>
          <p>A hard core technology master and a serial entrepreneur.  Paxcom is Punit’s 4th entrepreneurial venture, with one (Erevu) already being acquired in 2001 in US and other 3 (Paxcel, MirchiMart and Paxcom) running successfully in India. </p>

          <p>He is a true Apple lover, and knows the importance of quality to make products that consumers love.</p>
      </div>
      </div>
      <div class="col-lg-4 col-sm-4 ">      
     <div class="team-list-outer">
        <div class="team-list">
        <img src="{{ site.baseurl }}/images/gaurav-vashishth.png" alt="Gaurav Vashishth" class="img-responsive">
                    </div>
          <div class="name">Gaurav Vashishth</div>
           <div class="designation">Product Owner, PIM Web &amp; Desktop</div>
          <p>Gaurav has more than 9 years of experience in delivering high performance apps in verticals like Data Compression, Capital Markets, Devops and Retail. He has delivered some highly intuitive cool products which have brought in significant ease of use for the users. </p>
    </div>    </div>
      <div class="col-lg-4 col-sm-4 ">
         <div class="team-list-outer">  
      <div class="team-list">
      
            <a href="#"><img src="{{ site.baseurl }}/images/kuldeep-saxena.png" alt="Kuldeep Saxena" class="img-responsive"> </a>
          </div>
          <div class="name">Kuldeep Saxena</div>
          <div class="designation">Technical Architect </div>
          <p>Passionate about simplifying things. Kuldeep has been a Technical Architect of highly scalable data intensive projects like Stock market broker station and Ad exchange platform. </p>
      </div>
      </div> </div>
      
          <div class="row "> 
      <div class="col-lg-4 col-sm-4">
         <div class="team-list-outer fixed-hight">
          <div class="team-list">
              <a href="#"><img src="{{ site.baseurl }}/images/jagdeep-singh.png"  alt="Jagdeep Singh" class="img-responsive"> </a>
            </div>
           <div class="name">Jagdeep Singh</div>
           <div class="designation">Project Lead, ERP</div>
            <p>He eats and sleeps eCommerce, both from the technology and domain fronts. Jagdeep has single handedly delivered some of the most exciting features of Paxcom ERP just over a weekend’s time. </p> </div>
          </div>
      <div class="col-lg-4 col-sm-4">    
      <div class="team-list-outer fixed-hight">  
    <div class="team-list">
       
            <a href="#"><img src="{{ site.baseurl }}/images/raju-rai.png" alt="Raju Rai" class="img-responsive"> </a>
          </div>
          <div class="name">Raju Rai</div>
          <div class="designation">UI-UX Designer</div>
          <p>Raju has been Paxcom’s chief designer for all our products (Web, Desktop and Mobile Applications) along with developing our customer’s eCommerce websites. </p>
      </div>
      </div>
      <div class="col-lg-4 col-sm-4">
          <div class="team-list-outer fixed-hight">  
     <div class="team-list">
            <a href="#"><img src="{{ site.baseurl }}/images/neha.khosla.png" alt="Neha Khosla"  class="img-responsive"> </a>
          </div>
         <div class="name">Neha Khosla</div>
          <div class="designation">Project Manager, PIM</div>
          <p>Neha has been a cross functional player with us, from managing key customer accounts to operations and sales. She works as an interface between our technology team and end users of our products. </p>
       </div>
      </div>
       </div>
        
     <div class="row ">  
      
      
      <div class="col-lg-4 col-sm-4">
      <div class="team-list-outer fixed-hight">  
      <div class="team-list">
            <a href="#"><img src="{{ site.baseurl }}/images/rohit-singla.png" alt="Rohit Singla" class="img-responsive"> </a>
          </div>
          <div class="name">Rohit Singla</div>
          <div class="designation">Business Analyst, ERP </div>
          <p>Having started his career with eCommerce, during initial boom years, Rohit is Paxcom’s ecommerce knowledge center with expertise in Supply Chain Domain. Elicitation, Requirement Analysis, Enterprise Analysis &amp; Solution Validation are the part of Rohit’s chores.</p>
       </div>
      </div>    
      <div class="col-lg-4 col-sm-4">
         <div class="team-list-outer fixed-hight">  
   <div class="team-list">
            <a href="#"><img src="{{ site.baseurl }}/images/roshan.singh.png" alt="Roshan Singh" class="img-responsive"> </a>
          </div>
          <div class="name">Roshan Singh</div>
         <div class="designation">Support Ninja</div>
          <p>Roshan is the go-to person for multi-channel sales management. Roshan helps out Paxcom’s customers with online merchandising and stock level strategies to maximum their sales and thus profits. </p>
     </div>
      </div>
      <div class="col-lg-4 col-sm-4">
         <div class="team-list-outer fixed-hight">  
     <div class="team-list">
            <a href="#"><img src="{{ site.baseurl }}/images/tarun-kumar.png" alt="Tarun Kumar" class="img-responsive"> </a>
          </div>
          <div class="name">Tarun Kumar</div>
          <div class="designation">Support Ninja</div>
          <p>Having complete store management experience (from logistics, procurement to order fulfilment), in both physical retail and e-Retail, Tarun supports our customers to manage their operations to ensure high customer ratings. </p>
     </div>
      </div></div>
      
    



    </div>



</section>

