<!-- START This is a typical Twitter Bootstrap Carousel -->
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  <!--<ol class="carousel-indicators paxcom-carousel-indicators">
  
  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active">Home</li>
    <li data-target="#carousel-example-generic" data-slide-to="1" >Content</li>
    <li data-target="#carousel-example-generic" data-slide-to="2">Visibility</li>
    <li data-target="#carousel-example-generic" data-slide-to="3">Insights</li>    
    <li data-target="#carousel-example-generic" data-slide-to="4">Inventory </li>
    <li data-target="#carousel-example-generic" data-slide-to="5">Orders</li>
  </ol>-->
  
  <!-- Wrapper for slides -->
   <!-- Wrapper for slides -->
    <div class="carousel-inner paxcom-home">
      <div class="item item-bootom item-0 active custom_reponsive_with1">
        <div class="container-fluid">
          <div class="carousel-caption">
            <h1>Technology Catalyst For <span>Omni-Channel Retail</span> </h1>
            <div class="merchandising_supply">
              <h2> <a href="#Merchandising" class="trapezoid page-scroll"> Merchandising </a> <b> and </b> <a href="#SupplyChain" class="trapezoid page-scroll"> Supply Chain </a> <b> Softwares for </b> </h2>
            </div>
             
            <ul class="intro-list main-content">
              <li>Selling online on Popular Online Retail Sites /Market Places . </li>
              <li>Selling online on own Brand Portal and Mobile apps </li>
              <li>Omni-Channel retail with Connected Offline -Online World</li>
            </ul>
            
            <!--<a href="#soultions" class="btn-more page-scroll">Know more</a>-->
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive" /></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Wrapper for slides --> 
  <!-- End Wrapper for slides --> 
  
  <!-- Controls --> 
  <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>--> </div>
