
<div id="" class=""> 
    <div class="carousel-inner paxcom-home">
      <div class="item item-bootom item-0 active custom_reponsive_with1">
        <div class="container-fluid">
          <div class="carousel-caption">
            <h1>Technology Catalyst For <span>Omni-Channel Retail</span> </h1>
            <div class="merchandising_supply">
              <h2> <a href="#Merchandising" class="trapezoid page-scroll"> Merchandising </a> <b> and </b> <a href="#SupplyChain" class="trapezoid page-scroll"> Supply Chain </a> <b> Software for </b> </h2>
            </div>
             
            <ul class="intro-list main-content">
              <li>Selling online on Popular Online Retail Sites /Market Places . </li>
              <li>Selling online on own Brand Portal and Mobile apps </li>
              <li>Omni-Channel retail with Connected Offline -Online World</li>
            </ul>
            
            <!--<a href="#soultions" class="btn-more page-scroll">Know more</a>-->
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
