<!-- START This is a typical Twitter Bootstrap Carousel -->
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  <!--<ol class="carousel-indicators paxcom-carousel-indicators">
  
  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active">Home</li>
    <li data-target="#carousel-example-generic" data-slide-to="1" >Content</li>
    <li data-target="#carousel-example-generic" data-slide-to="2">Visibility</li>
    <li data-target="#carousel-example-generic" data-slide-to="3">Insights</li>    
    <li data-target="#carousel-example-generic" data-slide-to="4">Inventory </li>
    <li data-target="#carousel-example-generic" data-slide-to="5">Orders</li>
  </ol>-->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner paxcom-home">
    <div class="item item-bootom item-0 active">    	
      <div class="container-fluid">
        <div class="carousel-caption">
          <h1>Technology Catalyst for 
          	<span>Omni-Channel Retail</span>
        		<p>Online MarketPlaces. Brand Portals. Connected Offline-Online World.</p>
      		</h1> 
            
            <a href="#soultions" class="btn-more page-scroll">Know more</a>     
                  
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div> 
  <!--  
   <div class="item item-bootom item-1">    	
      <div class="container-fluid">
        <div class="carousel-caption"> 
          <h1 class="no-bod">Centeralized Repository for <span>Product Information</span></h1> 
            
            <ul class="intro-list">
            	<li>Consistent And Accurate Production Information on All Channels</li>
                <li>Optimized Content for Maximum Conversions</li>
                <li>Amazon A+ Content</li>
                <li>Consistent And Accurate Production Information on All Channels</li>
                <li>Optimized Content for Maximum Conversions</li>
                <li>Amazon A+ Content</li>
            </ul>
            <div class="clearfix"></div>
            
            <a href="content.html" class="btn-more no-bod">Know more</a>  
           
                       
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/ProductContentManagement.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div>
    
   
    <div class="item item-bootom item-2 ">    	
      <div class="container-fluid">
        <div class="carousel-caption"> 
          <h1 class="no-bod">Increase Visibility of <span>your Products</span>
        		
      		</h1> 
            
            <ul class="intro-list">
            	<li>Amazon SEO Optimization</li>
                <li>Google SEO Optimization</li>
                <li>Display Banner, PPC, Offer Promotions Planning on</li>
                <li>Amazon, Flipkart, SnapDeal, PayTm</li>
            </ul>
             <div class="clearfix"></div>
            <a href="#" class="btn-more no-bod">Know more</a>
            
                       
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/visibilityseo.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div>
     
     <div class="item item-bootom item-3 ">    	
      <div class="container-fluid">
        <div class="carousel-caption"> 
          <h1 class="no-bod">The Pulse of your <span>Online Business</span>
        		
      		</h1> 
            
            <ul class="intro-list">
            	<li>Reviews and Ratings</li>
                <li>Positioning</a></li>
                <li>Compliance</a></li>
                <li>Price</a></li>
                <li>Inventory</a></li>
                <li>Sale</a></li>
            </ul>
             <div class="clearfix"></div>
            <a href="#" class="btn-more no-bod">Know more</a>
                       
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div>
    <div class="item item-bootom item-4 ">    	
      <div class="container-fluid">
        <div class="carousel-caption"> 
          <h1 class="no-bod">Our Powerful Technology for <span>Omni­Channel Retail</span>
        	
      		</h1> 
            
            <ul class="intro-list">
            	<li>Centeralized Inventory Management</li>
                <li>Order Management</li>
                <li>Account Reconcillations</li>
                <li>Returns and Replacement Management</li>
            </ul>
            <div class="clearfix"></div>
            <a href="#" class="btn-more no-bod">Know more</a>
                       
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div>
    <div class="item item-bootom item-5">    	
      <div class="container-fluid">
        <div class="carousel-caption"> 
          <h1 class="no-bod">Our best <span>BeSpoke Solutions</span>
        		
      		</h1> 
            
            <ul class="intro-list">
            	<li>Centeralized Inventory Management</li>
                <li>Order Management</li>
                <li>Account Reconcillations</li>
                <li>Returns and Replacement Management</li>
            </ul>
             <div class="clearfix"></div>
            <a href="#" class="btn-more no-bod">Know more</a>
                       
            <div class="shop-img"> <img src="{{ site.baseurl }}/images/local-shop.png" alt="Paxcom" class="img-responsive"></div>          
        </div>
      </div>
    </div>
 
    -->
    
    
    
 
  </div>
  <!-- End Wrapper for slides --> 
  
  <!-- Controls --> 
  <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>--> </div>
