
<div class="content container">
  <h1 class="text-center">Centralized <span>Product information </span> management </h1>
  <ul>
    <li> Content Consistency across channels</li>
    <li> Easy creation of product catalogue</li>
    <li> Optimized for marketplaces search alogrithm</li>
    <li> Ease in product listing across marketplace</li>
  </ul>
</div>
<div class="input-filter-bar ">
  <div class="container" >
    <div class="row form-group heading"> Do you have <span>SKU’s </span> of your product ? <span class="org">Share with us to see live product</span></div>
    <div class="row">
      <div class="col-sm-3    form-group">
        <div class="input-group">
          <input class="form-control" placeholder="SKU" aria-describedby="basic-addon2" type="text">
          <span class="input-group-addon" > <i class="fa fa-question " data-toggle="tooltip" title="" data-original-title="Enter product  SKU id" data-placement="top"></i></span></div>
      </div>
      <div class="col-sm-3 form-group">
        <select class="form-control" type="text" >
          <option>ss</option>
          <option>ss</option>
          <option>ss</option>
        </select>
      </div>
      <div class="col-sm-3 form-group">
        <input class="form-control" type="email" placeholder="email">
      </div>
      <div class="col-sm-3  form-group ">
        <button class="btn btn-warning form-control btn-submit btn-lg"> SUBMIT</button>
      </div>
    </div>
  </div>
</div>
