<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="wrap">
          <h1 class="h1"> Product Information <strong>Management </strong> <span class="text-primary">(PIM) </span> </h1>
          <div class="type-wrap pull-left">
            <div id="typed-strings">
              <p>Centralized</p>
              <p>Snapdeal</p>
              <p>Amazon</p>
              <p>Flipkart</p>
            </div>
            <span id="typed" style="white-space:pre;"> </span> </div>
          <div class="pull-left" > products information for all channels</div>
          <div class="product-demo">Have Product <span class="text-primary" >SKU’s ? </span> Check <a href="#"> <span class="text-primary" > Live Demo <i class="fa fa-arrow-circle-o-right"></i></span> </a></div>
        </div>
      </div>
      <div class="col-md-4"> <img src="images/slider-img1.jpg" alt="Slider Image"></div>
    </div>
  </div>
</section>