<section class="top-main-part">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="wrap  animation  fadeInDown">
          <h1 class="h1"> Product Information <strong>Management </strong> <span class="text-primary">(PIM) </span> </h1>
          <div class="type-wrap pull-left">
            <div id="typed-strings">
              <p>Content Consistency across channels</p>
              <p>Easy creation of product catalogue</p>
              <p>Optimized for marketplaces search alogrithm</p>
              <p>Ease in product listing across marketplace</p>
            </div>
            <span id="typed" style="white-space:pre;"> </span> </div>
          <div class="pull-left" > </div>
          <div class="product-demo">Have Product <span class="text-primary" >SKU’s ? </span> Check <a id="skuButton" href="#"> <span class="text-primary" > Live Demo <i class="fa fa-arrow-circle-o-right"></i></span> </a></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 text-center"> <img src="images/slider-img1.jpg" class="img-responsive" alt="Slider Image"></div>
    </div>
  </div>
</section>