<div class="container">
   
   <div class="inner_ul_center">
    <ul>
        <li>Three</li>
        <li>Blind</li>
        <li>Mice</li>
        <li>Mice</li>
    </ul>
</div>


</div>


<div class="ab_cont_work what_we_do_up">
<div class="container">
<div class="row">
  
<div class="work-nav work-nav_one">
<ul>
<li><a href="https://www.intint.in/sitemap">Sitemap</a></li>
<li><a href="https://www.intint.in/privacy-policy" class="active"> Privacy Policy</a></li>
<li><a href="https://www.intint.in/terms-of-use"> Terms of Use</a></li>

</ul>
</div>
</div></div>
</div>