<div class="container inner-section">
  <div class="row">
    <h1>Price Intelligence</h1>
    <div class="col-md-12">
      <h3>Price your products intelligently to acquire more consumers</h3>

      <p>Today, most of the consumers begin their shopping by searching online for best prices. Pricing is an important factor to influence whether a consumer purchases a product or not .Pricing products for the online marketplaces is a challenging task, as online seller have to face hundreds of other online sellers as competitors.</p>

    <p><em><strong>UPS</strong> online study highlights “57% of the consumers prefer to purchase online due to better pricing after researching an item in-store.”</em> So, it’s crucial to price and bundle the products right.</p>
      
    <p>In E commerce Business price wars are on the peak in a real time, but some online retailers and big brands aren’t aware or ready for this reality. Pricing, can make or break a company. As making Price too high will likely lose to the competition and making Price too low will degrade the value of goods and services.</p>  
      
    </div>
    
    
<div class="well well-sm well-custom">
    
    <div class="col-md-12">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li><strong>MAP updates</strong> - Maintain price hygiene by enforcing MAP (Minimum Advertised Price) policy</li>
        <li><strong>Price Insights</strong> - Identify the maximum and minimum price for your products  which are present on different sales channels.</li>
        <li><strong>Competitive Price tracking on marketplaces</strong> - Keep an eye on competitive pricing strategy on multiple sales channels.</li>
        <li><strong>Price Alerts</strong> - Alerts to update the price on multiple channels in case of discrepancy of price on marketplaces.</li>
        <li><strong>Price your products smartly</strong> - Detailed Insights on the average, maximum and minimum pricing for the product from marketplaces so that sellers can price their products smartly.</li>
      </ul>
    </div>

</div>

     <!--<div class="col-md-12 mtop50"> <img src="{{site.baseurl}}/images/3_Plan-your-Promotions-smartly.png" alt="Paxcom" class="img-responsive"> </div> -->
  </div>
</div>
