<div class="container inner-section">
  <div class="row">
    <h1>Price and Stock Tracking</h1>
    <div class="col-md-12">
      <h3>Today, most of the consumers begin their shopping by searching online for best prices.</h3>

      <p>Pricing is an important factor to influence whether a consumer purchases a product or not .Pricing products for online marketplaces is a challenging task , as online seller have to face hundreds of other online sellers as competitors.</p>

    <p>Now a days price wars are on peak in a real time, but some online retailers and big brands aren’t aware or ready for this reality. Pricing,can make or break a company. As making Price too high will likely lose to the competition and  Price too low will degrade the value of goods and services.</p>
      
      
    </div>
    
    <div class="col-md-10">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li> <strong>MAP updates</strong> :- Maintain price hygiene by enforcing MAP (Minimum Advertised Price) policy  </li>
        <li> <strong>Price Insights</strong> :- Identify the maximum and minimum price for which your products are sold on different sales channels,  </li>
        <li> <strong>Competitive Price tracking on marketplaces</strong> : - Keep an eye on competitive pricing strategy on multiple sales channels.  </li>
        <li> <strong>Price Alerts</strong> :- Alerts to update the price on multiple channels in case of discrepancy of price on marketplaces.  </li>
        <li> <strong>Price your products smartly</strong> :- Detailed Insights on the average, maximum and minimum pricing for the product from marketplaces so that sellers can price their products smartly.</li>
      </ul>
    </div>


    <div class="col-md-12">
      <p>One of the key challenges for the  retailers is to keep products inventory updated that customers want and need in stock.Customers also lose the interest in the seller when the desired product  or most demanded by the customer is out of stock . Many marketplaces also inactive the product which is out of stock .Inactive products are not visible in search results, to have visibility brand need to keep updated inventory on marketplaces </p>
    
    </div>
    <div class="col-md-9">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li> Inventory alerts:-Alerts to refill the out of stock products on multiple channels  to avoid lost sales. </li>
        <li> Geographical Inventory Tracking :- Keep a track of inventory for the location based on mapping with stores.</li>
      </ul>
    </div>
     <!--<div class="col-md-12 mtop50"> <img src="{{site.baseurl}}/images/3_Plan-your-Promotions-smartly.png" alt="Paxcom" class="img-responsive"> </div> -->
  </div>
</div>
