<div id="productInfoModel" class="modal fade" role="dialog">
  <div class="modal-dialog product-info-popup">     
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title  text-center">80 + organizations are already using kinator</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="img-container text-center"> <img src="{{ site.baseurl }}/images/img-phone.png" alt="phone"></div>
          </div>
          <div class="col-sm-8 ">
            <div class="heading">samsung mobile </div>
            Key Features <br>
            ndroid 4.2 (Jelly Bean) OS<br>
            3 MP Primary Camera <br>
            0.3 Secondary Camera <br>
            3.5-inch Touchscreen
            <ul class="features-list">
              <li>
                <div class="label">color </div>
                <div class="value text-danger">red</div>
              </li>
              <li>
                <div class="label">price </div>
                <div class="value text-success">rs 20000</div>
              </li>
              <li>
                <div class="label">store </div>
                <div class="value text-info">fac 21. mohli, india </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
