<div class="container inner-section">
  <div class="row">
    <h1>Promotions Planning</h1>
    <div class="col-md-12">
      <h3>Plan your Promotions smartly</h3>
      <p>Promotions empower e-retailers to plan and analyze campaigns, promotional offers across all marketplaces. Offerings, discounts, deals and coupons are an arsenal for increasing the online sales, customer acquisition,conversions, and customer loyalty. Right offer to Right channel in Right location will impact and increase the effectiveness of the promotional campaigns.</p>
      <p><strong>An ASSOCHAM PwC</strong> study claims online purchases are expected to grow further due to attractive promotions and aggressive marketing of merchandise. Planning a promotion well is important ­ to find what works best for your products, to not just spend for a limited ROI and to stay ready to cater to increased sales with a promotion.</p>
    </div>
    <div class="col-md-6">
      <h5>What we solve for you?</h5>
      <ul class="intro-list main-content">
        <li><strong>High Return on investment</strong> :- Data driven suggestions on what promotions you can run to increase sales with high ROI</li>
        <li><strong>Promotion planning tool</strong> :- Keep track of your planned promotions, alerts if a promotion is not running as planned.</li>
        <li><strong>Competition promotions</strong> :- Keep track of promotions run by competition so as to have competitive edge over the competitors.</li>
        <li><strong>Inventory Alerts during Promotions</strong> :-Low inventory alerts for products in promotion, easy to identify what needs to be restocked and updated</li>
        <li><strong>Effective Promotions deals</strong> :-Identify which promotional deals or offers work better ­Is it buy two get one free or flat 10% off that gives higher results?</li>
      </ul>
    </div>
    <div class="col-md-6 mtop50">
      <ul class="intro-list main-content">
        <li><strong>Centralised panel</strong> :- Centralised panel for promotions running on multiple marketplaces.</li>
        <li><strong>Locational promotion insights</strong> :- Keep a record on location specific promotions and offers.</li>
        <li><strong>Analytical Insights</strong> :- Provide analysis of promotional offer versus sales contribution graphs.</li>
        <li><strong>Expired promotions</strong> :- Analyze previous monthly expired promotions data which helps to decide which is the best price for a promotion and so as to ensure that promotions drive profits ,not only unit sales.</li>
      </ul>
    </div>    
    <!--<div class="col-md-6 mtop50"> <img src="{{site.baseurl}}/images/3_Plan-your-Promotions-smartly.png" alt="Paxcom" class="img-responsive"> </div>-->
  </div>
</div>
