<section id="Product-Promotions" class="content-section active">
	<div class="container">
    		<div class="row">
            	 <div class="col-md-12">
                <h3>Plan your Promotions smartly</h3>
                <p>An  ASSOCHAM­PwC  study  claims  online  purchases  are  expected  to  grow  further  due  to
                  attractive promotions and aggressive marketing of merchandise.
                  Planning a promotion well is important ­ to find what works best for your products, to not just 
                  spend for a limited ROI and to stay ready to cater to increased sales with a promotion.</p>
              </div>
              
               <div class="col-md-6">
            <h5>What we solve for you?</h5>
            <ul class="intro-list main-content">
              <li>Data driven suggestions on what promotions you can run to increase sales with high
                
                ROI</li>
              <li>Keep track of your planned promotions, alerts if a promotion is not running as planned</li>
              <li>Keep track of promotions run by competition</li>
              <li>Low inventory alerts for products in promotion, easy to identify what needs to be
                
                restocked</li>
              <li>Identify what offers work better ­ Is it buy two get one free or flat 10% off that gives
                
                higher results?</li>
            </ul>
          </div>
            
                <div class="col-md-6">
                	<img src="{{site.baseurl}}/images/3_Plan-your-Promotions-smartly.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>