<section id="Accounts-Reconciliation" class="content-section" >
	<div class="container">
    		<div class="row">
            	<div class="col-md-6">
                	<h3>Reconcile accounts for due payments from E-marketplaces</h3>
                	<p>Oh! This for sure is every seller's pain point. Marketplaces always tend to charge you incorrect commissions or logistics cost. We help you automatically reconcile the payble and receivables  across multiple marketplaces.
We offer account reconciliation for major Indian marketplaces like Flipkart, Amazon, Snapdeal, Paytm. 
                    </p>
					<h5>What we solve for you?</h5>
                    <ul class="intro-list main-content">
                    	<li>Reports on received or pending payments from all channels</li>
                        <li>Reports on errors in received payments</li>
                        <li>Auto calculations of payments, no more manual and error prone calculations on logistics, returns, commissions, etc. </li>
    					<li>Clear numbers on profitability status</li>  
                        <li>Raise disputes for products with damaged returns, track and calculate refunds from marketplace seller protection funds</li>              
    				</ul>
                </div>
                <div class="col-md-6">
                	<img src="{{site.baseurl}}/images/5_Reconcile-accounts-for-due-payments-from-E-marketplaces.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>