<section id="relatedProducts" class="intro-section-bg related-product scroll-section">

<div class="container animation  fadeInDown">
<h2  class="text-center">Related Products</h2>

<div class="row">
  <div class="col-sm-4 box-bg-blue">  <h5> Kinator </h5>  <p>Bridge the Omni-channel gap with our efficient order routing algorithms that can ensure minimum logistics cost and maximum customer satisfaction </p>  </div>
   <div class="col-sm-4 box-bg-red"> <h5>  eGenie    </h5>   <p>eGenie - eGenie ensures centralized inventory management, pricing, returns and accounts reconciliations for multiple channels and marketplaces </p></div>
    <div class="col-sm-4 box-bg-org"> <h5>    PIM </h5>   <p>Centralised, consistent product catalog information and management definitely helps to provide valuable content to the end user and close sale </p> </div>
   </div> </div>
</section>