<section id="relatedProducts" class="intro-section-bg related-product ">

<div class="container animation  fadeInDown">
<h2  class="text-center">Related Products</h2>
<p class="text-center">rmamultiple channels can quicklybecome a daunting ta</p>
<div class="row">
  <div class="col-sm-4 box-bg-blue">  <h5> Kinator </h5>  <p>Maintaining consistent informamultiple channels can quicklybecome a daunting task with increase in channels and </p>  </div>
   <div class="col-sm-4 box-bg-org"> <h5>  Egenie    </h5>   <p>Maintaining consistent informamultiple channels can quicklybecome a daunting task with increase in channels and </p></div>
    <div class="col-sm-4 box-bg-black"> <h5>    PIM </h5>   <p>Maintaining consistent informamultiple channels can quicklybecome a daunting task with increase in channels and </p> </div>
   </div> </div>
</section>