<div class="container paxcom-services">
<div class="row">

<div class="col-xs-12"><h2><strong>Services we provide</strong></h2>
<div class="border-line-blue"></div> </div>
</div>
<div class="row top-space">
<div class="col-md-4 col-sm-12 col-xs-12 "><h3><i class="fa fa-circle icon-org"></i> Own branded estore</h3> 
<div class="border-line"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy it to make a eand typesetting industry Ipsum  orem Ipsum has been imen and standard industry standard orem Ipsum has been and typesetting industry. </p>
<div class="btn-view-channel"><a href="#">View all channels</a></div></div>
<div class="col-md-4 col-sm-12 col-xs-12"><h3> <i class="fa fa-circle icon-blue"></i> Leading market places</h3>
<div class="border-line"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy it to make a eand typesetting industry Ipsum  orem Ipsum has been imen and standard industry standard orem Ipsum has been and typesetting industry. </p>
<div class="btn-view-channel"><a href="#">View all channels</a></div></div>
<div class="col-md-4 col-sm-12 col-xs-12"><h3> <i class="fa fa-circle icon-pink"></i> Physical retail store</h3>
<div class="border-line"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy it to make a eand typesetting industry Ipsum  orem Ipsum has been imen and standard industry standard orem Ipsum has been and typesetting industry. </p>
<div class="btn-view-channel"><a href="#">View all channels</a></div></div>
</div>

<div class="row top-space">
<div class="col-xs-12">

<div class="btn-services"> <a href="#">
  <svg height="60" width="320" >
    <rect class="shape" height="60" width="320" />
    <div class="btn-text">VIEW ALL SERVICES <i class="fa fa-long-arrow-right"></i> </div>
  </svg> </a>
</div>  </div>
</div>

</div>
