<div class="soultions" id="soultions">
	<div class="box box1">
    	<div class="box-content">
        <h1>
        	Merchandising <br>
			Solutions
        </h1>        
        <ul class="intro-list">
        	<li>Optimize your Product Content </li>
            <li>Visibility - Search Optimization and  Promotions Management</li>
            <li>Key Insights into Price, Reviews, Stock, Visibility, Sales  and Compliance</li>
       </ul>
       <div class="clearfix"></div>
       
       <a href="{{site.baseurl}}/merchandising-solutions.html" class="btn-more">Know more</a>
       </div>
    </div>
    <div class="box box2">
    
    	<div class="box-content">
        <h1>
        	Supply Chain<br>
			Solutions
        </h1>        
        <ul class="intro-list">
        	<li>Centralized Inventory, Orders, Returns Management</li>
            <li>Account Reconciliations</li>
            <li>Key Performance Analytics</li>
       </ul>
       <div class="clearfix"></div>
       <a href="{{site.baseurl}}/supply-chain.html" class="btn-more">Know more</a>
       </div>
    </div>
</div>