<section id="Products-Listing" class="content-section active">
	<div class="container">
    		<div class="row">
            	<div class="col-md-6">
                	<h3>List products on multiple Marketplaces  saasas </h3>
                    <p>Isn’t the listing process time consuming? What if we say you can do it from 
one place for all channels?</p>
					<h5>What we solve for you?</h5>
                    <ul class="intro-list main-content">
                    	<li>Automatic listing of your products on multiple channels from one place.</li>
                        <li>Map your already listed products at one place to assist you with single panel view 
on Orders, Returns and Accounts. </li>
                    </ul>
                </div>
                <div class="col-md-6">
                	<img src="{{site.baseurl}}/images/1_List-products-on-multiple-Marketplaces.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>