<section id="Products-Listing" class="merchansupplyheading active">
	<div class="container">
    		<div class="row">
            	<div class="col-md-7">
                	<h3>Product Listing</h3>
                    <p>Most of you would find Listing process quite time consuming. No need to put extra efforts now, do it from one place with eGenie.</p>
					<!-- <h5>What we solve for you?</h5>-->
                    <ul class="listintro">
                    	<li>List your products in one go against existing unique product codes for marketplaces.</li>
                        <li>Map your products for major marketplaces.</li>
                        <li>Import your existing products from multiple channels.</li>
                    </ul>

                    <div class="row col-md-12 mtop20">
                      <a class="btn btn-warning btn-lg btn-more-new" type="button" href="{{site.baseurl}}/product/listproducts.html" {% if page.url == '/listproducts.html'  %} {% endif %} > 
                      	Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    </div>
                    
                </div>
                <div class="col-md-5">
                	<img src="{{site.baseurl}}/images/1_List-products-on-multiple-Marketplaces.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>