<section id="Accounts-Reconciliation" class="merchansupplyheading" >
	<div class="container">
    		<div class="row">
            
            	<div class="col-md-7">
                	<h3>Accounts Reconciliation</h3>
                	<p>Managing payments for orders from multiple channels is a challenging task. We automate and standardize the reconciliation for high volumes.</p>

					<!-- <h5>What we solve for you?</h5>-->
                    
                    <ul class="listintro">
                    	<li>Monitor your expenses</li>
                        <li>Get reports on Amount receivables</li>
                        <li>Track Payments for Returns</li>            
    				</ul>

                    <div class="row col-md-12 mtop20">
                      <a class="btn btn-warning btn-lg btn-more-new" type="button" href="{{site.baseurl}}/product/reconcileaccounts.html" {% if page.url == '/reconcileaccounts.html'  %} {% endif %} > 
                      	Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    </div>


                </div>
                
                <div class="col-md-5">
                	<img src="{{site.baseurl}}/images/5_Reconcile-accounts-for-due-payments-from-E-marketplaces.png" alt="Paxcom" class="img-responsive">
                </div>
            </div>
    </div>
</section>