<div class="why_sec_cont">
    <div class="row">
      <div class="col-lg-12">
        <p class="allcaps">THE USE OF THE WEBSITE BY THE USER SHALL MEAN THAT HE/SHE AGREES WITH THE FOLLOWING TERMS OF SERVICE</p>
        <p>PAXCOM provides cloud based Services for multichannel eCommerce process management (hereinafter referred to as the “Services”). The website and Services is owned by Paxcom India Pvt Ltd. having its Registered office at Gurgaon.</p>
        <p>Before using the services rendered by Paxcom, you are requested to read and understand the Terms of Service specified herein. You accept and understand that Paxcom shall have the absolute right to amend these Terms at any point of time unilaterally with or without any notice.</p>
       
       
        <h4>Using The Services </h4>
        
        <p>The USER agrees that it will not misuse the Services. USER may use the Services only as permitted by law. Paxcom may suspend or stop providing Services to the USER in case of any non compliance with the agreement or if Paxcom is investigating suspected misconduct.</p>
        
        
        <h4>Copyrights</h4>
        
        <p>The Services are protected by copyright laws of India, as well as other property laws and treaties. The use of the Services, except for use of the as permitted in this agreement, is strictly prohibited and infringes on the intellectual property rights of others and may subject the USER to civil and criminal penalties, including possible monetary damages, for copyright infringement. Except as stated in this Agreement, use of the Services does not grant any rights or title to any intellectual property rights in the Services or Documentation to the USER. All rights to the Services and Documentation, including all associated copyrights, patents, trade secret rights, trademarks and other intellectual property rights are reserved by PAXCOM. The USER itself and with any third party will not, including but not limited to, reproduce, copy, modify, duplicate, sell, resell, rent, sub-license or trade the Services (or any part thereof) for any purpose.</p>
        
        
        <h4>Privacy Protection</h4>
        
        <p>Paxcom respects USER’s privacy and assures that the information collected from USER will be used only to provide the Services. Such personal information shall not be made available to any third party. Paxcom may publish frequent reports on industry trends using collaborated data of its USERs. USER permits the use of data for generic reports. </p>
        
        
        
        <h4>Payments and Refunds</h4>
        
        <p>Paxcom will charge a monthly subscription fee based on USER’s account plan. The Services are billed in advance for each month, quarter, half-year or year, and is non-refundable. There will be no refunds or credits for partial months of service, or refunds made should USER not use the Services during a period of time when USER’s account is open. No exceptions will be made. Initial security fee and version fee will be as follows -</p>
        
        <h4 class="indenttxt">Security Clause</h4>
        <p class="indenttxt">The security fees of Rs. 5000 has to be paid by USER before starting paid version. This amount is completely refundable. The entire amount would be refunded after the deactivation of the USER’s account.
The amount would be adjusted if the USER doesn’t clear the pendings  payments before closure. Security would be refunded after 1 month of the deactivation of accounts.
</p>
        
        <h4 class="indenttxt">Versions of the Services</h4>
        <p class="indenttxt">If required, the USER can use the FREE version of eGenie and Kinator for commercial purposes, for a trial period of 15 day’s time and free of charge. To use the PAID version, the USER shall explicitly activate it by an Activation Key, on payment of the appropriate subscription fee. Without purchasing the Activation Key, after the trial period, the FREE version of Services will be deactivated. Under no circumstances the USER shall make the activation key known or distribute to unauthorized parties.</p>        
        
        
        
        <h4>Use of Trademark/Trade Name </h4>
        
        <p>PAXCOM shall have the right to display Trademark/Trade name of the USER on its website i.e. <a href="http://www.paxcom.net/">www.paxcom.net/</a> or on any other website that PAXCOM may own or operate in future. Display of USER&rsquo;s Trademark/Trade name shall be limited for the purpose of recognizing the USER as a client of PAXCOM. The right of PAXCOM to display USER&rsquo;s Trademark/Trade shall not be conditional upon purchase of the PAID version of the Services by the USER. No claim whatsoever for infringement of Trademark or otherwise shall lie against PAXCOM for display of USER&rsquo; Trademark/Trade name in terms of this clause.</p>
        
        
               
        <h4>Limited Warranty </h4>
               
        <ul class="pp_listcustom">
          <li>Errors within the Services cannot be excluded. The Free version of the Services and any related documentation is provided "as is" without warranty of any kind. The entire risk arising out of use of the Services remains with the USER.</li>
          <li>As a USER of the Paid version of the Services after the trial period, the USER shall be entitled to rectification of defects if the Services do not conform to the specification. However, USER understands that certain rectifications can be beyond the control Paxcom and hence Paxcom can not be held responsible for any damages at the USER’ end. </li>
          <li>The services are provided “as is” and “as available” basis without warranty of any kind from the part of Paxcom. </li>
          <li>The services are aimed at increasing operational efficiency and assistance. The USER understands and agrees that the Services do not ensure increase in revenue of the USER. </li>
          <li>USER understands and agrees that it will be solely responsible in case of any damages or loss of data that may occur to USER’s computer or system or any other equipment which resulted from using the services.</li>
          <li>Paxcom does not review, edit, censor or take responsibility for any information that USER may create, transmit, post, store, distribute, display or present using the Services.</li>
          <li>In addition, USER specifically acknowledges and agrees that no oral information or advice provided by Paxcom, its officers, directors, employees, or agents will :
              <ul>
                <li> Constitute legal or financial advice or, </li>
                <li>Create a warranty of any kind with respect to the services, and USER should not rely on any such information or advice.</li>
              </ul>
          </li>
         <li>Paxcom assumes no responsibility with respect to USER’s use of the services and shall not be liable for consequential, incidental, or special damages, including but not limited to loss of use, business interruptions, and loss of profits, lost revenue or punitive or exemplary damages, even if Paxcom is aware of the possibility thereof.</li>
                  
          
          
          
          
          
        </ul>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </div>
    </div>
  </div>