<!-- Intro Section -->
<section id="overview"  class="intro-section" style="height:704px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 >Why Insights</h2>
        <p>Deliver rich product information that closes sale</p>
        <div class=" overview-container">
          <div class=" slides-heads" >
            <div class="btn left-bottom slide-head active-slide-head"> <a data-target-id="#getProduct" data-toggle="tooltip" data-placement="left" title="Get Product Reviews Sentiment
"> <i class="fa fa-file-o"></i> </a></div>
            <div class="btn left slide-head"> <a data-target-id="#track" data-toggle="tooltip" data-placement="left" title="Track yours and competition promotions 
"> <i class="fa fa-level-down"></i> </a></div>
            <div class="btn top slide-head "> <a data-target-id="#getAlerts" data-toggle="tooltip" data-placement="top" title="  Get alerts on
        out of stock products"> <i class="fa fa-exclamation-triangle"></i> </a></div>
            <div class="btn right slide-head"> <a data-target-id="#productPrice" data-toggle="tooltip" data-placement="right" title=" Track product prices  from marketplace"> <i class="fa fa-hourglass"></i> </a></div>
            <div class="btn right-bottom slide-head"> <a data-target-id="#launch-products-faster" data-toggle="tooltip" data-placement="right" title=" Launch products faster"><i class="fa fa-fast-forward"></i> </a></div>
          </div>
          <div class="slides-contents">
            <div class="content slide-content active-slide-content " id="getProduct">
              <h3> Get Product Reviews Sentiment</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="content slide-content " id="track">
              <h3>Track yours and competition promotions</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="content slide-content " id="getAlerts">
              <h3>Get alerts on out of stock products</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
            </div>
            <div class="content slide-content " id="productPrice">
              <h3>Track product prices from marketplace</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
            </div>
            <div class="content slide-content " id="launch-products-faster">
              <h3>Launch products faster</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="who-need-pim">
    <div class="container">
      <div class="row">
        <div class="col-md-5 arrow-right">
          <h4>Who need <span class="text-primary">PIM</span></h4>
        </div>
        <div class="col-md-7 ">
          <div class="row">
            <div class="col-md-4 top-space"> <i class="fa fa-user-secret"></i> RETAILERS </div>
            <div class="col-md-4 top-space"><i class="fa fa-laptop"></i> ONLINE SELLERS </div>
            <div class="col-md-4 top-space"> <i class="fa fa-hourglass-start"></i> MANUFACTURER </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>