<!-- Intro Section -->
<section id="overview"  class="intro-section scroll-section" >

<div class="container" style="max-width:1010px;">
 <div class="col-lg-12 text-center ">
        <h2 >Why Insights</h2>
        <p>Actionable key performance indicators that help you grow</p> </div>
        
        <div class="row">
        <div class="col-md-3 ">
        <div class="overview-list top-space">
        <div class="line"></div>
        <div class="icon"><i class="fa fa-file-text"></i></div>
          <h5 class="text-center text-capital"> Get product review sentiments </h5> 
         <p>Intelligent Natural language processing 
algorithms to automatically analyse your reviews
 and extract the user sentiments. This
 avoids the tedious task of manually 
reviewing this data</p>  </div>
        </div>
        <div class="col-md-3"> 
           
        <div class="overview-list"> 
          <div class="line2"></div>
          <div class="icon"><i class="fa fa-globe"></i>
</div>
         <h5 class="text-center text-capital">Track yours and competition promotions</h5> 
         <p>Insights also helps with tracking your own
 and competitors’ promotions being carried
 out on Marketplaces. In highly competitive
 world, monitoring can become a key
 difference between profit and loss</p> </div> </div>
        <div class="col-md-3"> 
        <div class="overview-list  top-space1"> 
          <div class="line3"></div>
          <div class="icon"> <i class="fa fa-exclamation-triangle"></i>

</div>
         <h5 class="text-center text-capital">Alerts </h5> 
         <p>Alerts can greatly help the user with
 concise information on what needs immediate
attention. Be it out of stock products,
 promotions and other actionable indicators</p> </div> </div>
        <div class="col-md-3">
        <div class="overview-list ">
      
         <div class="icon"><i class="fa fa-usd"></i></div>
        <h5 class="text-center text-capital">Track product prices</h5> 
         <p class="box-height">Product pricing can be an important
 feature to track on multiple marketplaces
to analyse the price trend.</p></div> </div>
        
        </div>
        
        
        

</div>




  
</section>