<!-- Intro Section -->
<section id="overview"  class="intro-section no-bottom-padding scroll-section scroll-multiple" style="height:668px" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      	<h2>What is eGenie</h2>
       
        <p><strong class="text-black">SELL EVERYWHERE WITH EASE - </strong>We provide meaningful &amp; single click ways to connect to multiple sales channels.</p>

 <img src="{{ site.baseurl }}/images/eGenie-overview.png">

        
      </div>
    </div>
  </div>

</section>