<!-- Intro Section -->
<section id="overview"  class="intro-section no-bottom-padding scroll-section scroll-multiple" style="height:668px" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      	<h2>What is Kinator</h2>
       
        <p>Optimized Order Routing platform to connect stores, warehouses for optimized
order fulfillment of orders from own portals, marketplaces, apps, physical stores
and more. Paxcom Kinator pulls orders from all supporting channels, and uses order
routing algorithm to route it most optimized fulfillment center.</p>

 <img src="{{ site.baseurl }}/images/kinator-routing.jpg">

        
      </div>
    </div>
  </div>

</section>