<!-- Intro Section -->
<section id="overview"  class="intro-section" style="height:691px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 >Why PIM</h2>
        <p>Deliver rich product information that closes sale</p>
        <div class="overview-container">
          <div class=" slides-heads" >
            <div class="btn left-bottom slide-head active-slide-head"> <a data-target-id="#content-consistency" data-toggle="tooltip" data-placement="left" title="Content Consistency"> <i class="fa fa-file-text"></i> </a></div>
            <div class="btn left slide-head"> <a data-target-id="#marketplace-seo" data-toggle="tooltip" data-placement="left" title=" Marketplace SEO"> <i class="fa fa-paper-plane-o"></i> </a></div>
            <div class="btn top slide-head "> <a data-target-id="#sale-and-brand-value" data-toggle="tooltip" data-placement="top" title="  Increased Sales and Brand Value"> <i class="fa fa-line-chart"></i> </a></div>
            <div class="btn right slide-head"> <a data-target-id="#product-catalog" data-toggle="tooltip" data-placement="right" title=" Product Catalog"> <i class="fa fa-hourglass"></i> </a></div>
            <div class="btn right-bottom slide-head"> <a data-target-id="#launch-products-faster" data-toggle="tooltip" data-placement="right" title=" Launch products faster"><i class="fa fa-fast-forward"></i> </a></div>
          </div>
          <div class="slides-contents">
            <div class="content slide-content active-slide-content " id="sale-and-brand-value">
              <h3>Content Consistency</h3>
              <p>Maintaining consistent information on multiple channels can quickly become a daunting task with increase in channels and products. PIM ensures that right product information is available instantly on all channels you want. With export options for various channels, define data once and use everywhere.</p>
            </div>
            <div class="content slide-content " id="marketplace-seo">
              <h3>Marketplace SEO</h3>
              <p>Not just manage products’ data, we also help you sell your products better. With marketplace SEO optimizations on your product data, we ensure that your products also rank higher on searches. Better data + Optimizations = Better Sales</p>
            </div>
            <div class="content slide-content " id="content-consistency">
              <h3>Product Catalog</h3>
              <p>Share, print and publish your data as and when you need. Print it to analyze inventory, export and share with your team or publish on multiple channels at once. Having an automated solution for managing products’ data centrally greatly improves daily tasks.</p>
            </div>
            <div class="content slide-content " id="product-catalog">
              <h3>Increased Sales and Brand Value</h3>
              <p>40% of customers say they do not find enough information to make a purchase. Better, consistent, optimized product data drives beter sales and contributes to the brand value. Help your customers make better informed purchases.</p>
            </div>
            <div class="content slide-content " id="launch-products-faster">
              <h3>Launch products faster</h3>
              <p>PIM drastically reduces the time to launch products on multiple channels. Enterprises can capitalize on this to stay ahead of the competition. Sell better, sell fast.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="who-need-pim">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xs-12 arrow-right">
          <h4>Who needs <span class="text-primary">PIM</span></h4>
        </div>
        <div class="col-md-7 col-sm-12  ">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12  top-space"> <i class="fa fa-user-secret pull-left"></i> <span class="text" >  RETAILERS  </span> </div>
            <div class="col-md-4 col-sm-4 col-xs-12 top-space"><i class="fa fa-laptop pull-left"></i>  <span class="text" > ONLINE SELLERS </span> </div>
            <div class="col-md-4 col-sm-4 col-xs-12 top-space"> <i class="fa fa-hourglass-start pull-left"></i>   <span class="text" >MANUFACTURERS  </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>