<ul class="nav nav-tabs">
  <h3 class="heading" >why <span><strong>PIM ?</strong> </span> </h3>
  <li class="active"><a href="#1" data-toggle="tab"> <i class="fa fa-files-o"></i> Content Consistency</a></li>
  <li><a href="#2" data-toggle="tab"> <i class="fa fa-location-arrow"></i>  Marketplace SEO</a></li>
  <li><a href="#3" data-toggle="tab"> <i class="fa fa-codepen"></i> Product Catalog</a></li>
  <li><a href="#4" data-toggle="tab"> <i class="fa fa-stack-exchange"></i> Channel Listing</a></li>
</ul>
<div  class="tab-content">
  <div class="tab-pane active" id="1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis massa, commodo eu nisi eget, ornare bibendum orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Integer convallis est vel lectus placerat, quis aliquam magna iaculis. </p>
  </div>
  <div class="tab-pane" id="2">
    <p>Quisque mattis lobortis nibh, vitae dictum nisl. Cras consectetur aliquam nisi, sit amet facilisis nisi volutpat vitae. Fusce vitae risus quis eros facilisis fringilla. Quisque eget ultrices ipsum. Mauris nec euismod est, sit amet rhoncus turpis. </p>
  </div>
  <div class="tab-pane" id="3">
    <p>Suspendisse blandit libero id suscipit consectetur. Cras ultrices sem sit amet est efficitur iaculis ut non est. Morbi porttitor eu felis ac aliquet.</p>
  </div>
  <div class="tab-pane" id="4">
    <p>Vestibulum viverra ex ut arcu lobortis tempor. Vivamus suscipit dictum nisl gravida malesuada. Nulla et quam eget massa cursus sodales a quis augue. Maecenas ultrices vitae felis ut faucibus. Vivamus vitae convallis nunc, quis vestibulum eros. Morbi vel purus nec justo efficitur consequat ac sit amet risus. Duis laoreet hendrerit bibendum. Nam tempor volutpat sagittis.</p>
  </div>

</div>
<div class="strip-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>who needs <strong>PIM </strong>? </h3>
      </div>
      <div class="col-sm-2"> <i class="fa fa-sitemap"></i> RETAILERS</div>
      <div class="col-sm-3"> <i class="fa fa-laptop"></i> ONLINE SELLERS </div>
      <div class="col-sm-3"> <i class="fa fa-university"></i> MANUFACTURER </div>
    </div>
  </div>
</div>
