<!doctype html>
{% include head.html %}
<body>
{% include header.html%}
<div class="container blog-top-space">
  <div class="row"> 
    <!-- main content start here -->
    <div class="col-md-8 list-style"> 
    	{% include post-header.html%}
      {% include post-content.html%}
      {% include post-footer.html%}
      <div id="home" class="grid post">
        <div class="unit whole ">
          <article>
            <div class="listing"> {% for post in paginator.posts %}
              <article>
                <header class="entry-header">
                  <h2 class="entry-title"> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </h2>
                  <time class="published" datetime="{{ post.date }}" pubdate=""> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: '%B %d, %Y' }}</a> </time>
                </header>
                <div class="entry-content"> {{ post.content }} </div>
              </article>
              {% endfor %} </div
   
    >
          </article>
        </div>
      </div>
    </div>
    
    <!-- Aside start here -->
    <div class="col-md-4 "> {% include aside.html%} </div>
  </div>
  <div class="clearfix"></div>
</div>
{% include footer.html %}
</body>
</html>